<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.DriverMapper">
		<!--mypage뿌리기  -->
		<select id="driverMyPage" parameterType="userVO" resultType="userVO">
		   select user_idx as userIdx,
				user_id as userId,
				user_pw as userPw,
				user_name as userName,
				user_phone as userPhone,
				user_email as userEmail,
				pro_filename as proFilename,
				pro_filepath as proFilepath,
				user_introduce as userIntroduce,
				registration_number as registrationNumber,
				user_car as userCar,
				comp_filename as compFilename,
				comp_filepath as compFilepath,
				user_type as userType,
				social_id as socialId 
		  from user_tbl where user_id=#{userId} 
		</select>
		
	<!--mypage 이미지만 업로드  -->	
	<update id="driverMypageUpdate" parameterType="userVO">
	update user_tbl set
	pro_filename=#{proFilename}, pro_filepath=#{proFilepath}
		where user_id=#{userId}
	</update>
	
	<!--mypage 텍스트 업로드  -->
	<update id="driverMypageUpdateText" parameterType="userVO">
	update user_tbl set 
	user_name=#{userName},
	user_phone=#{userPhone},
	user_email=#{userEmail},
	user_introduce=#{userIntroduce},
	user_car=#{userCar}
		where user_id=#{userId}
	</update>
	
	<!--입찰 검색 //입찰목록 뿌리기-->
	<select id="driverAuctionList" resultType="moveApplyVO" parameterType="com.dassa.vo.DriverPageData">
		select a.* from (
			select apply_idx as applyIdx,
				guest_name as guestName,
				start_addr1 as startAddr1,
				start_addr2 as startAddr2,
				start_addr3 as startAddr3,
				start_latitude as startLatitude,
				start_longitude as startLongitude,
				end_addr1 as endAddr1,
				end_addr2 as endAddr2,
				end_addr3 as endAddr3,
				end_latitude as endLatitude,
				start_longitude as endLongitude,
				apply_date as applyDate,
				apply_time as applyTime,
				ROW_NUMBER() OVER(ORDER BY apply_Idx DESC) rNUM
				from move_apply_tbl
				where apply_status =0  
				
				<if test="userName!=''" >
				and guest_name like '%'||#{userName}||'%'			
				</if>
				<if test="minDate!='' and maxDate!=''">
					and apply_date between to_date(replace('${minDate}','-','')||'000000', 'YYYYMMDDhh24miss') 
              		and to_date(replace('${maxDate}','-','')||'235959','YYYYMMDDhh24miss')
				</if>
				) a
			where rNUM between (${page}-1)*${listSize}+1 and ${page}*${listSize}
	</select>
	
	<!--총 게시물 수 구하기(입찰 페이징)  -->
	<select id="driverTotalCount" resultType="_int" parameterType="com.dassa.vo.DriverPageData">
		select count(*) cnt from
		(
			select 
				ROW_NUMBER() OVER(ORDER BY apply_Idx DESC) rNUM
				from move_apply_tbl
				where apply_status =0  
				
				<if test="userName!=''" >
				and guest_name like '%'||#{userName}||'%'			
				</if>
				<if test="minDate!='' and maxDate!=''">
					and apply_date between to_date(replace(#{minDate},'-','')||'000000', 'YYYYMMDDhh24miss') 
              		and to_date(replace(#{maxDate},'-','')||'235959','YYYYMMDDhh24miss')
				</if>
		)
	</select>
	
	<!--이사목록 뿌리기  -->
	<select id="driverMoveList" resultType="moveApplyVO" parameterType="com.dassa.vo.DriverPageData">
			 select a.* from (
			select apply_idx as applyIdx,
				apply_date as applyDate,
				apply_time as applyTime,
				guest_name as guestName,
				guest_phone as guestPhone,
				start_addr1 as startAddr1,
				end_addr1 as endAddr1,
				apply_hope as applyHope,
				apply_status as applyStatus,
				ROW_NUMBER() OVER(ORDER BY apply_Idx DESC) rNUM
				from move_apply_tbl
				where (apply_status =1 or apply_status =2)
				
				<if test="userName!=''" >
				and guest_name like '%'||#{userName}||'%'			
				</if>
				<if test="minDate!='' and maxDate!=''">
					and apply_date between to_date(replace(#{minDate},'-','')||'000000', 'YYYYMMDDhh24miss') 
              		and to_date(replace(#{maxDate},'-','')||'235959','YYYYMMDDhh24miss')
				</if>
				) a
			where rNUM between (#{page}-1)*#{listSize}+1 and #{page}*#{listSize}
	</select>
	<!--이사관리 총게시물 수 구하기.  -->
	<select id="driverMoveTotalCount" resultType="_int" parameterType="com.dassa.vo.DriverPageData">
			select count(*) cnt from
			(
			select 
				ROW_NUMBER() OVER(ORDER BY apply_Idx DESC) rNUM
				from move_apply_tbl
				where (apply_status =1 or apply_status = 2) 
				
				<if test="userName!=''" >
				and guest_name like '%'||#{userName}||'%'			
				</if>
				<if test="minDate!='' and maxDate!=''">
					and apply_date between to_date(replace(#{minDate},'-','')||'000000', 'YYYYMMDDhh24miss') 
              		and to_date(replace(#{maxDate},'-','')||'235959','YYYYMMDDhh24miss')
				</if>
		)
	</select>
	<select id="driverSelectOne" parameterType="_int" resultType="com.dassa.vo.DriverAuctionDetailVO">
		select  apply_idx as apply_idx,
				guest_name as guestName,
				guest_phone as gusetPhone,
				apply_date as applyDate,
				start_addr1 as startAddr1,
				start_addr2 as startAddr2,
				start_addr3 as startAddr3,
				end_addr1 as endAddr1,
				end_addr2 as endAddr2,
				end_addr3 as endAddr3,
				start_latitude as startLatitude,
				start_longitude as startLongitude,
				end_latitude as endLatitude,
				end_longitude as endLongitude,
				start_elevator as startElevator,
				end_elevator as endElevator,
				start_parking as startParking,
				end_parking as endParking,
				start_type as startType,
				end_type as endType,
				start_structure as startStructure,
				start_size as startSize,
				start_floor as startFloor,
				end_floor as endFloor,
				apply_time as applyTime,
				apply_hope as applyHope,
				apply_help as applyHelp,
				apply_memo as applyMemo
				from move_apply_tbl
				where apply_idx=#{applyIdx}
	</select>
	
	<select id="driverOptionList" parameterType="_int" resultType="com.dassa.vo.DriverApplyOptionVO">
		select 
				option_idx as optionIdx,
				package_type as packageType,
				package_name as packageName,
				package_option as packageOption,
				package_img_path as packageImgOption
				from move_apply_option_tbl
				where apply_idx=#{applyIdx}
	</select>
	
	<select id="driverImgList" parameterType="_int" resultType="com.dassa.vo.DriverApplyImgVO">
		select 	img_idx as imgIdx,
				img_name as imgName,
				img_path as imgPath
				from move_apply_img_tbl
				where apply_idx=#{applyIdx} 
	</select>
	
	
	<!-- <select id="driverAuctionDetailMoveApply" resultType="com.dassa.vo.DriverAuctionDetailVO" parameterType="_int">
		select  a.apply_idx as apply_idx,
				a.guest_name as guestName,
				a.guest_phone as gusetPhone,
				a.apply_date as applyDate,
				a.start_addr1 as startAddr1,
				a.start_addr2 as startAddr2,
				a.start_addr3 as startAddr3,
				a.end_addr1 as endAddr1,
				a.end_addr2 as endAddr2,
				a.end_addr3 as endAddr3,
				a.start_latitude as startLatitude,
				a.start_longitude as startLongitude,
				a.end_latitude as endLatitude,
				a.end_longitude as endLongitude,
				a.start_elevator as startElevator,
				a.end_elevator as endElevator,
				a.start_parking as startParking,
				a.end_parking as endParking,
				a.start_type as startType,
				a.end_type as endType,
				a.start_structure as startStructure,
				a.start_size as startSize,
				a.start_floor as startFloor,
				a.end_floor as endFloor,
				a.apply_time as applyTime,
				a.apply_hope as applyHope,
				a.apply_help as applyHelp,
				a.apply_memo as applyMemo,
				b.package_type as packageType,
				b.package_name as packageName,
				b.package_option as packageOption,
				b.package_img_path as packageImgOption,
				c.img_idx as imgIdx,
				c.img_name as imgName,
				c.img_path as imgPath
				from move_apply_tbl a 
				left join move_apply_option_tbl b on 
				a.apply_idx = b.apply_idx 
				left join move_apply_img_tbl c on 
				c.apply_idx = a.apply_idx
				where a.apply_idx=#{applyIdx}
	</select> -->
	
	
</mapper>