<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.ManageUserMapper">
	<!-- 전체 회원 조회 -->
	<select id="getUserListAll" resultType="userVO">
		select user_idx as userIdx,
				   user_id as userId,
				   user_pw as userPw,
				   user_name as userName,
				   addr as userAddr,
				   addr_code as addrCode,
				   user_phone as userPhone,
				   user_email as userEmail,
				   pro_filename as proFilename,
				   pro_filepath as proFilepath,
				   user_introduce as userIntroduce,
				   registration_number as registrationNumber,
				   business_number as businessNumber,
				   user_car as userCar,
				   comp_filename as compFilename,
				   comp_filepath as compFilepath,
				   user_type as userType,
				   social_id as socialId,
				   enroll_date as enrollDate,
				   status
			from user_tbl
	</select>
	
	<!-- 전체 승인 회원 조회 -->
	<select id="getAllApprobateList" resultType="userVO">
		select user_idx as userIdx,
				   user_id as userId,
				   user_pw as userPw,
				   user_name as userName,
				   addr as userAddr,
				   addr_code as addrCode,
				   user_phone as userPhone,
				   user_email as userEmail,
				   pro_filename as proFilename,
				   pro_filepath as proFilepath,
				   user_introduce as userIntroduce,
				   registration_number as registrationNumber,
				   business_number as businessNumber,
				   user_car as userCar,
				   comp_filename as compFilename,
				   comp_filepath as compFilepath,
				   user_type as userType,
				   social_id as socialId,
				   enroll_date as enrollDate,
				   status
			from del_user_tbl where status=2
	</select>
	
	<!-- 유저 타입별 승인 회원 조회 -->
	<select id="getTypeApprobateList" resultType="userVO">
		select user_idx as userIdx,
				   user_id as userId,
				   user_pw as userPw,
				   user_name as userName,
				   addr as userAddr,
				   addr_code as addrCode,
				   user_phone as userPhone,
				   user_email as userEmail,
				   pro_filename as proFilename,
				   pro_filepath as proFilepath,
				   user_introduce as userIntroduce,
				   registration_number as registrationNumber,
				   business_number as businessNumber,
				   user_car as userCar,
				   comp_filename as compFilename,
				   comp_filepath as compFilepath,
				   user_type as userType,
				   social_id as socialId,
				   enroll_date as enrollDate,
				   status
			from del_user_tbl where user_type=#{userType} and status=2
	</select>
	
	<!-- 타입에 따른 회원조회 -->
	<select id="getUserList" resultType="userVO">
		select user_idx as userIdx,
				   user_id as userId,
				   user_pw as userPw,
				   user_name as userName,
				   addr as userAddr,
				   addr_code as addrCode,
				   user_phone as userPhone,
				   user_email as userEmail,
				   pro_filename as proFilename,
				   pro_filepath as proFilepath,
				   user_introduce as userIntroduce,
				   registration_number as registrationNumber,
				   business_number as businessNumber,
				   user_car as userCar,
				   comp_filename as compFilename,
				   comp_filepath as compFilepath,
				   user_type as userType,
				   social_id as socialId,
				   enroll_date as enrollDate,
				   status
			from user_tbl where user_type = #{userType}
	</select>
	
	<!-- 탈퇴회원 조회 -->
	<select id="getUserSecssionList" parameterType="userOutVO" resultType="userOutVO">
		 select user_idx as userIdx,
				   user_id as userId,
				   user_pw as userPw,
				   user_name as userName,
				   addr as userAddr,
				   addr_code as addrCode,
				   user_phone as userPhone,
				   user_email as userEmail,
				   pro_filename as proFilename,
				   pro_filepath as proFilepath,
				   user_introduce as userIntroduce,
				   registration_number as registrationNumber,
				   business_number as businessNumber,
				   user_car as userCar,
				   comp_filename as compFilename,
				   comp_filepath as compFilepath,
				   user_type as userType,
				   social_id as socialId,
				   enroll_date as enrollDate,
				   status
		  from del_user_tbl where user_type=#{userType} and status=3 order by user_idx
	</select>
	
	<delete id="deleteUser" parameterType="userVO">
		delete from user_tbl where user_idx=#{userIdx}
	</delete>
</mapper>