<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.ManageSaleMapper">
	<select id="saleMoveInfo" parameterType="_int"
		resultType="com.dassa.vo.SaleMoveInfoVO">
		select m.apply_idx as applyIdx,
		m.move_payment_idx as movePaymentIdx,
		m.move_payment_imp_uid as movePaymentImpUid,
		m.move_payment_merchant_uid as movePaymentMerchantUid,
		m.move_payment_method as movePaymentPayMethod,
		m.move_payment_pg as
		movePaymentPg,
		m.move_payment_pg_number as movePaymentPgNumber,
		m.move_payment_cardname as movePaymentCardName,
		m.move_payment_amount
		as movePaymentAmount,
		m.move_payment_date as movePaymentDate,
		m.move_payment_cenceldate as movePaymentCencelDate,
		m.move_payment_status as movePaymentStatus,
		a.guest_idx as guestIdx,
		a.guest_name as guestName,
		a.guest_phone as guestPhone,
		a.start_addr1 as startAddr1,
		a.start_addr2 as startAddr2,
		a.start_addr3 as startAddr3,
		a.start_type as startType,
		a.start_structure as startStructure,
		a.start_size as startSize,
		a.start_floor as startFloor,
		a.start_elevator as startElevator,
		a.start_parking as startParking,
		a.end_Addr1 as endAddr1,
		a.end_Addr2 as endAddr2,
		a.end_Addr3 as endAddr3,
		a.end_type as startType,
		a.end_floor as endFloor,
		a.end_elevator as endElevator,
		a.end_parking as endParking,
		a.apply_date as applyDate,
		a.apply_time as applyTime,
		a.apply_hope as applyHope,
		a.apply_help as applyHelp,
		a.apply_memo as applyMemo,
		a.apply_status as applyStatus,
		a.apply_Reg_Date as applyRegDate,
		u.user_name as driverName,
		u.user_phone as driverPhone,
		u.user_introduce as driverIntroduce,
		d.user_Car as userCar,
		d.driver_message as driverMessage,
		d.ladderState as ladderState,
		d.estimateAmount as estimateAmount
		from move_payment_tbl m join move_apply_tbl a on
		(m.apply_idx = a.apply_idx) join driver_tbl d on (a.apply_idx
		=d.apply_idx ) join user_tbl u on (d.driver_idx=u.user_Idx) where
		m.move_payment_idx = #{movePaymentIdx}

	</select>
	<select id="manageSaleShopTotalCount"
		parameterType="com.dassa.vo.ManageSalePageData" resultType="_int">
		select count(*) as cnt from shop_payment_tbl s
		join user_tbl u
		on(s.user_idx = u.user_idx)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test='searchType != "" or searchWord != ""'>
				<if test='searchType == "1"'>
					u.user_id like '%'|| #{searchWord} || '%'
				</if>
				<if test='searchType == "2"'>
					u.user_Name like '%'|| #{searchWord} || '%'
				</if>
				<if test='searchType == "3"'>
					u.user_phone like '%'|| #{searchWord} || '%'
				</if>
			</if>
			<if test='minDate != "" and maxDate != ""'>
				AND
				s.shop_payment_date between
				to_date(replace(#{minDate},'-','')||'000000',
				'YYYYMMDDhh24miss')
				and
				to_date(replace(#{maxDate},'-','')||'235959','YYYYMMDDhh24miss')
			</if>
			<if test='minAmount != "" and maxAmount != ""'>
				AND
				s.shop_payment_price between TO_NUMBER(#{minAmount})
				and TO_NUMBER(#{maxAmount})
			</if>
		</trim>
	</select>
	<select id="salePremiumList" parameterType="java.util.Map"
		resultType="com.dassa.vo.ShopPaymentVO">
		select a.* from
		(select
		s.shop_payment_idx as shopPaymentIdx,
		s.shop_payment_imp_uid as shopPaymentImpUid,
		s.shop_payment_merchant_uid as shopPaymentMerchantUid,
		s.shop_payment_method as shopPaymentPayMethod,
		s.shop_payment_pg as
		shopPaymentPg,
		s.shop_payment_pg_number as shopPaymentPgNumber,
		s.shop_payment_cardname as shopPaymentCardName,
		s.shop_payment_price as
		shopPaymentPrice,
		s.shop_payment_date as shopPaymentDate,
		s.shop_payment_last_date as shopPaymentLastDate,
		s.shop_payment_status
		as shopPaymentStatus,
		u.user_name as UserName,
		u.user_email as
		UserEmail,
		u.user_id as UserId,
		ROW_NUMBER() OVER(ORDER BY
		s.shop_payment_idx desc) rNUM
		from shop_payment_tbl s
		join user_tbl u on
		(s.user_idx = u.user_idx)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if
				test='pagination.searchType != "" or pagination.searchWord != ""'>
				<if test='pagination.searchType == "1"'>
					u.user_id like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "2"'>
					u.user_Name like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "3"'>
					u.user_phone like '%'|| #{pagination.searchWord} || '%'
				</if>
			</if>
			<if test='pagination.minDate != "" and pagination.maxDate != ""'>
				AND
				s.shop_payment_date between
				to_date(replace(#{pagination.minDate},'-','')||'000000',
				'YYYYMMDDhh24miss')
				and
				to_date(replace(#{pagination.maxDate},'-','')||'235959','YYYYMMDDhh24miss')
			</if>
			<if
				test='pagination.minAmount != "" and pagination.maxAmount != ""'>
				AND
				s.shop_payment_price between
				TO_NUMBER(#{pagination.minAmount}) and
				TO_NUMBER(#{pagination.maxAmount})
			</if>
		</trim>
		) a
		where rNUM between #{start} and #{end}

	</select>
	<select id="manageSaleTotalCount"
		parameterType="com.dassa.vo.ManageSalePageData" resultType="_int">
		select count(*) as cnt from move_payment_tbl m
		join move_apply_tbl a on
		(m.apply_idx = a.apply_idx)
		join user_tbl u on(a.guest_idx =
		u.user_idx)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test='searchType != "" or searchWord != ""'>
				<if test='searchType == "1"'>
					u.user_id like '%'|| #{searchWord} || '%'
				</if>
				<if test='searchType == "2"'>
					u.user_Name like '%'|| #{searchWord} || '%'
				</if>
				<if test='searchType == "3"'>
					u.user_phone like '%'|| #{searchWord} || '%'
				</if>
			</if>
			<if test='minDate != "" and maxDate != ""'>
				AND
				m.Move_payment_date between
				to_date(replace(#{minDate},'-','')||'000000',
				'YYYYMMDDhh24miss')
				and
				to_date(replace(#{maxDate},'-','')||'235959','YYYYMMDDhh24miss')
			</if>
			<if test='minAmount != "" and maxAmount != ""'>
				AND
				m.move_payment_amount between TO_NUMBER(#{minAmount})
				and TO_NUMBER(#{maxAmount})
			</if>
		</trim>
	</select>
	<select id="manageSaleMoveList" parameterType="java.util.Map"
		resultType="com.dassa.vo.MovePaymentVO">
		select a.* from
		(select
		m.move_payment_idx as movePaymentIdx,
		m.move_payment_imp_uid as movePaymentImpUid,
		m.move_payment_merchant_uid as movePaymentMerchantUid,
		m.move_payment_method as movePaymentPayMethod,
		m.move_payment_pg as
		movePaymentPg,
		m.move_payment_pg_number as movePaymentPgNumber,
		m.move_payment_cardname as movePaymentCardName,
		m.move_payment_amount
		as movePaymentAmount,
		m.move_payment_date as movePaymentDate,
		m.move_payment_cenceldate as movePaymentCencelDate,
		m.move_payment_status as movePaymentStatus,
		u.user_name as
		movePaymentUserName,
		u.user_email as movePaymentUserEmail,
		u.user_id as
		movePaymentUserId,
		ROW_NUMBER() OVER(ORDER BY m.move_payment_idx desc)
		rNUM
		from move_payment_tbl m
		join move_apply_tbl ma on (m.apply_idx =
		ma.apply_idx)
		join user_tbl u on (ma.guest_idx = u.user_idx)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if
				test='pagination.searchType != "" or pagination.searchWord != ""'>
				<if test='pagination.searchType == "1"'>
					u.user_id like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "2"'>
					u.user_Name like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "3"'>
					u.user_phone like '%'|| #{pagination.searchWord} || '%'
				</if>
			</if>
			<if test='pagination.minDate != "" and pagination.maxDate != ""'>
				AND
				m.Move_payment_date between
				to_date(replace(#{pagination.minDate},'-','')||'000000',
				'YYYYMMDDhh24miss')
				and
				to_date(replace(#{pagination.maxDate},'-','')||'235959','YYYYMMDDhh24miss')
			</if>
			<if
				test='pagination.minAmount != "" and pagination.maxAmount != ""'>
				AND
				m.move_payment_amount between
				TO_NUMBER(#{pagination.minAmount}) and
				TO_NUMBER(#{pagination.maxAmount})
			</if>
		</trim>
		) a
		where rNUM between #{start} and #{end}


	</select>
	<select id="manageSaleMoveYearSum" parameterType="java.util.Map"
		resultType="com.dassa.vo.DriverSaleVO">
		SELECT to_char(move_payment_date,'yyyy') as driverSaledate,
		SUM(move_payment_amount*0.1) as driverSaleAmount
		FROM move_payment_tbl
		m
		join move_apply_tbl ma on (m.apply_idx = ma.apply_idx)
		join user_tbl u
		on (ma.guest_idx = u.user_idx)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if
				test='pagination.searchType != "" or pagination.searchWord != ""'>
				<if test='pagination.searchType == "1"'>
					u.user_id like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "2"'>
					u.user_Name like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "3"'>
					u.user_phone like '%'|| #{pagination.searchWord} || '%'
				</if>
			</if>
			<if test='pagination.minDate != "" and pagination.maxDate != ""'>
				AND
				m.Move_payment_date between
				to_date(replace(#{pagination.minDate},'-','')||'000000',
				'YYYYMMDDhh24miss')
				and
				to_date(replace(#{pagination.maxDate},'-','')||'235959','YYYYMMDDhh24miss')
			</if>
			<if
				test='pagination.minAmount != "" and pagination.maxAmount != ""'>
				AND
				m.move_payment_amount between
				TO_NUMBER(#{pagination.minAmount}) and
				TO_NUMBER(#{pagination.maxAmount})
			</if>
		</trim>
		and move_payment_cenceldate is null
		GROUP BY
		to_char(move_payment_date,'yyyy') order by 1
	</select>
	<select id="manageSaleMoveMonthSum"
		parameterType="java.util.Map" resultType="com.dassa.vo.DriverSaleVO">
		SELECT to_char(move_payment_date,'yyyymm') as driverSaledate,
		SUM(move_payment_amount*0.1) as driverSaleAmount
		FROM move_payment_tbl
		m
		join move_apply_tbl ma on (m.apply_idx = ma.apply_idx)
		join user_tbl u
		on (ma.guest_idx = u.user_idx)
		<trim prefix="where" prefixOverrides="AND|OR">
			<if
				test='pagination.searchType != "" or pagination.searchWord != ""'>
				<if test='pagination.searchType == "1"'>
					u.user_id like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "2"'>
					u.user_Name like '%'|| #{pagination.searchWord} || '%'
				</if>
				<if test='pagination.searchType == "3"'>
					u.user_phone like '%'|| #{pagination.searchWord} || '%'
				</if>
			</if>
			<if test='pagination.minDate != "" and pagination.maxDate != ""'>
				AND
				m.Move_payment_date between
				to_date(replace(#{pagination.minDate},'-','')||'000000',
				'YYYYMMDDhh24miss')
				and
				to_date(replace(#{pagination.maxDate},'-','')||'235959','YYYYMMDDhh24miss')
			</if>
			<if
				test='pagination.minAmount != "" and pagination.maxAmount != ""'>
				AND
				m.move_payment_amount between
				TO_NUMBER(#{pagination.minAmount}) and
				TO_NUMBER(#{pagination.maxAmount})
			</if>
		</trim>
		and move_payment_cenceldate is null
		GROUP BY
		to_char(move_payment_date,'yyyymm') order by 1
	</select>
</mapper>
