<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.ManageShopMapper">
	<!-- 매물 전체 리스트 -->
	<select id="selectAllList" resultType="shopItemVO" parameterType="map">
			select shop_item_idx as shopItemIdx,
				user_idx as userIdx,
				shop_name as shopName,
				shop_item_manager as shopItemManager,
				shop_item_type1 as shopItemType1,
				shop_item_deal_type as shopItemDealType,
				shop_item_title as shopItemTitle,
				shop_item_sale_state as shopItemSaleState,
				shop_item_premium_state as shopItemPremiumState,
				shop_item_reg_date as shopItemRegDate
			from (select rownum as rnum, item.* from 
			(select * from shop_item_tbl where (shop_item_sale_state='판매중' or shop_item_sale_state='판매중단' or shop_item_sale_state='판매완료' or shop_item_sale_state='삭제')
			<if test="shopName!=null">
				AND shop_name like '%'|| #{shopName}||'%'
			</if>
			order by rownum desc) item)
			
			where rnum between #{start} and #{end} 
	</select>
	<!-- 매물 총 게시물 수 -->
	<select id="shopItemTotalCount" resultType="_int" parameterType="map">
		select count(*) cnt from shop_item_tbl 
		<if test="shopName!=null">
				where shop_name like '%'|| #{shopName}||'%'
			</if>
	</select>
</mapper>