<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.NoticeMapper">
<!-- 리스트조회 -->
  <select id="selectAllList" resultType="noticeVO" parameterType="_int">
	select rnum as rnum,
	notice_index as noticeIndex,
	notice_type as noticeType,
	notice_title as noticeTitle,
	notice_writer as noticeWriter,
	notice_reg_date as noticeRegDate,
	notice_state as noticeState
	from (select rownum as rn , r.* from (select * from (select rownum as rnum,
	n.* from
	(select * from notice_tbl where
	<if test="code==0">notice_type='사용자'</if>
	<if test="code==1">notice_type='부동산'</if>
	<if test="code==2">notice_type='기사'</if>
	order by notice_reg_date) n) order by rnum desc)r)
	where rn between #{start} and #{end}	
  </select>

  <select id="totalCount" resultType="_int">
  	select count(*) cnt from notice_tbl where <if test="code == 0"> notice_type='사용자'</if> <if test="code==1">notice_type='부동산'</if><if test="code==2">notice_type='기사'</if>
  </select>
  <!-- 공지사항업데이트 -->
  <update id="noticeUpdate" parameterType="noticeVO">
  <if test="noticeFilename !=null">
  	update notice_tbl set notice_title=#{noticeTitle},
  						notice_filename=#{noticeFilename},
  						notice_filepath=null,
  						notice_content=#{noticeContent} 
  						where notice_index=#{noticeIndex}
  	</if>
  	<if test="noticeFilename ==null">
  		update notice_tbl set notice_title=#{noticeTitle},
  						notice_filename=null,
  						notice_filepath=null,
  						notice_content=#{noticeContent} 
  						where notice_index=#{noticeIndex}
  	</if>
  </update>
  
  <!-- 공지사항뷰페이지 -->
  <select id="noticeView" parameterType="noticeVO" resultType="noticeVO">
  	select notice_index as noticeIndex,
  			notice_type as noticeType,
  			notice_title as noticeTitle,
  			notice_filename as noticeFilename,
  			notice_filepath as noticeFilepath,
  			notice_content as noticeContent
  		from notice_tbl where notice_index=#{noticeIndex} 
  </select>
  
  <!-- 공지사항 작성 인서트 -->
  <insert id="noticeInsert" parameterType="noticeVO">
  	<if test="noticeFilename==null">
  	  	insert into notice_tbl values
  			(notice_index.nextval,
  			#{noticeType},
  			#{noticeTitle},
  			#{noticeContent},
  			#{noticeWriter},
  			null,
  			null,
  			sysdate,
  			#{noticeState})
  	</if>
	<if test="noticeFilename !=null">
	 	  	insert into notice_tbl values
  			(notice_index.nextval,
  			#{noticeType},
  			#{noticeTitle},
  			#{noticeContent},
  			#{noticeWriter},
  			#{noticeFilename},
  			null,
  			sysdate,
  			#{noticeState})
	</if>
  </insert>
  
  <!-- 공지사항 삭제 update notice_tbl set notice_state='삭제' where notice_index=#{notice_index},   	delete from notice_tbl where notice_index=#{notice_index}-->
  <update id="noticeDelete" parameterType="noticeVO">
  	update notice_tbl set notice_state='삭제' where notice_index=#{notice_index}
  </update>
  
  <!-- 검색 -->
  <select id="searchKeywordTitle" resultType="noticeVO" parameterType="com.dassa.vo.SearchNoticeVO">
  	select rnum as rnum,
  			 notice_index as noticeIndex,
  			notice_type as noticeType,
  			notice_title as noticeTitle,
  			notice_writer as noticeWriter,
  			notice_reg_date as noticeRegDate,
  			notice_state as noticeState
  			 from (select rownum as rnum, n.* from (select * from notice_tbl where 
  			 notice_title like '%'||#{keyWord}||'%'
  			 order by rownum desc) n)
  			  where rnum between #{start} and #{end}
  </select>
   <select id="titleCount" parameterType="com.dassa.vo.SearchNoticeVO" resultType="_int">
	select count(*) cnt from notice_tbl where notice_title like '%'||#{keyWord}||'%'
  </select>
</mapper>
