<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.SaleInLotsMapper">
	<select id="saleInLotsInformation" parameterType="saleInLotsVO" resultType="saleInLotsVO">
		select a.* from
			   (select 
			   saleinlots_idx as saleInLotsIDX,
			   saleinlots_state as saleInLotsState,
			   saleinlots_build_type as saleInLotsBuildType,
			   saleinlots_supply_type as saleInLotsSupplyType,
			   saleinlots_name as saleInLotsName,
			   saleinlots_detail_area as saleInLotsDetailArea,
			   saleinlots_price_min_all as saleInLotsPriceMinAll,
			   saleinlots_price_max_all as saleInLotsPriceMaxAll,
			   saleinlots_sale_household as saleInLotsSaleHousehold,
			   saleinlots_min_floor as saleInLotsMinFloor,
			   saleinlots_max_floor as saleInLotsMaxFloor,
			   saleinLots_min_supply_area as saleInLotsMinSupplyArea,
			   saleinLots_max_supply_area as saleInLotsMaxSupplyArea,
			   ROW_NUMBER() OVER(ORDER BY saleinlots_idx ASC) rNUM
			   from saleinlots_tbl
			   <trim prefix="where" prefixOverrides="AND|OR">
			   <if test="saleInLotsArea != '전국'">
			   		saleinlots_area = #{saleInLotsArea}
			   </if>
			   <if test="saleInLotsSearchBuildType[0] != '건물유형'">
			   		AND 
			   		<foreach collection="saleInLotsSearchBuildType" item="item" open="(" close=")" separator="OR">
			   			saleinlots_build_type like '%'||#{item}||'%'
			   		</foreach>
		  	   </if>
			   <if test="saleInLotsSearchState[0] != '분양단계'">
			   		AND 
			   		<foreach collection="saleInLotsSearchState"  item="item" open="(" close=")" separator="OR">
			   			saleinlots_state like '%'||#{item}||'%'
			   		</foreach>
			   </if>
			   <if test="saleInLotsSearchSupplyType[0] != '공급유형'">
			   		AND 
			   		<foreach collection="saleInLotsSearchSupplyType"  item="item" open="(" close=")" separator="OR">
			   			saleinlots_supply_type like '%'||#{item}||'%'
			   		</foreach>
			   </if> 
			   </trim>
			   ) a
			   where rNUM between #{start} and #{end}
							   
	</select>
	<select id="saleInLotstotalCount" parameterType="saleInLotsVO" resultType="int">
		select count(*) as cnt from saleinlots_tbl
		<trim prefix="where" prefixOverrides="AND|OR">
		   <if test="saleInLotsArea != '전국'">
		   		saleinlots_area = #{saleInLotsArea}
		   </if>
		   <if test="saleInLotsSearchBuildType[0] != '건물유형'">
		   		AND 
		   		<foreach collection="saleInLotsSearchBuildType" item="item" open="(" close=")" separator="OR">
		   			saleinlots_build_type like '%'||#{item}||'%'
		   		</foreach>
		   </if>
		   <if test="saleInLotsSearchState[0] != '분양단계'">
		   		AND 
		   		<foreach collection="saleInLotsSearchState" item="item" open="(" close=")" separator="OR">
		   			saleinlots_state like '%'||#{item}||'%'
		   		</foreach>
		   </if>
		   <if test="saleInLotsSearchSupplyType[0] != '공급유형'">
		   		AND 
		   		<foreach collection="saleInLotsSearchSupplyType"  item="item" open="(" close=")" separator="OR">
		   			saleinlots_supply_type like '%'||#{item}||'%'
		   		</foreach>
		   </if> 
		 </trim>
	</select>
	<select id="saleInLotsDetailInformation" parameterType="String" resultType="saleInLotsVO">
		select	saleinlots_idx as saleInLotsIDX,
				saleinlots_developer as saleInLotsDeveloper,
			   	saleinlots_build_type as saleInLotsBuildType,
			   	saleinlots_constructor as saleInLotsConstructor,
			   	saleinlots_supply_type as saleInLotsSupplyType,
			   	saleinlots_name as saleInLotsName,
			   	saleinLots_area as saleInLotsArea,
			   	saleinlots_detail_area as saleInLotsDetailArea,
			   	saleinlots_min_floor as saleInLotsMinFloor,
			   	saleinlots_max_floor as saleInLotsMaxFloor,
			   	saleinlots_house_scale as saleInLotsHouseScale,
			   	saleinLots_Household as saleInLotsHousehold,
			   	saleinlots_sale_household as saleInLotsSaleHousehold,
			   	saleinLots_price_one as saleInLotsPriceOne,	
			   	saleinlots_price_min_all as saleInLotsPriceMinAll,
			   	saleinlots_price_max_all as saleInLotsPriceMaxAll,
			   	saleinLots_Recruitment_date as saleInLotsRecruitmentDate,
			   	saleinLots_start_date as saleInLotsStartDate,
			   	saleinLots_min_supply_area as saleInLotsMinSupplyArea,
			   	saleinLots_max_supply_area as saleInLotsMaxSupplyArea,
			   	saleinlots_state as saleInLotsState
			   from saleinlots_tbl where saleinlots_idx = #{saleInLotsIDX}
	</select>
	<select id="saleInLotsTerms" resultType="com.dassa.vo.SaleInLotsTremsVO">
		select saleInLots_terms_idx as saleInLotsTermsIdx,
			saleInLots_terms_type as saleInLotsTermsType,
			saleInLots_terms_title as saleInLotsTermsTitle,
			saleInLots_terms_content as saleInLotsTermsContent
			from saleInLots_terms_tbl
	</select>
	<select id="saleInLotsFaq" resultType="com.dassa.vo.SaleInLotsFaqVO">
		select saleInLots_faq_idx as saleInLotsFaqIdx,
			saleInLots_faq_type as saleInLotsFaqType,
			saleInLots_faq_title as saleInLotsFaqTitle,
			saleInLots_faq_content as saleInLotsFaqContent
			from saleInLots_faq_tbl
	</select>
	<select id="saleInLotsFaqAjax" parameterType="com.dassa.vo.SaleInLotsFaqVO" resultType="com.dassa.vo.SaleInLotsFaqVO">
		select saleInLots_faq_idx as saleInLotsFaqIdx,
			saleInLots_faq_type as saleInLotsFaqType,
			saleInLots_faq_title as saleInLotsFaqTitle,
			saleInLots_faq_content as saleInLotsFaqContent
			from saleInLots_faq_tbl 
			<if test="saleInLotsFaqType != '전체'">			
				where saleInLots_faq_type = #{saleInLotsFaqType}
			</if>
	</select>
	<select id="saleInLotsBrandTotalCount" parameterType="java.util.Map" resultType="_int">
		select count(*) as cnt from saleInLots_tbl where
		<if test='brandName.equals("아이파크")'>
			saleInLots_constructor like '%'||'에이치디씨현대산업개발'||'%'
		</if>
		<if test='brandName.equals("푸르지오")'>
			saleInLots_constructor like '%'||'대우건설'||'%'
		</if>
		<if test='brandName.equals("자이")'>
			saleInLots_constructor like '%'||'지에스건설'||'%'
		</if>
	</select>
	<select id="saleInLotsBrand" parameterType="java.util.Map" resultType="saleInLotsVO">
		select a.* from
			   (select 
			   saleinlots_idx as saleInLotsIDX,
			   saleinlots_state as saleInLotsState,
			   saleinlots_build_type as saleInLotsBuildType,
			   saleinlots_supply_type as saleInLotsSupplyType,
			   saleinlots_name as saleInLotsName,
			   saleinlots_detail_area as saleInLotsDetailArea,
			   saleinlots_price_min_all as saleInLotsPriceMinAll,
			   saleinlots_price_max_all as saleInLotsPriceMaxAll,
			   saleinlots_sale_household as saleInLotsSaleHousehold,
			   saleinlots_min_floor as saleInLotsMinFloor,
			   saleinlots_max_floor as saleInLotsMaxFloor,
			   saleinLots_min_supply_area as saleInLotsMinSupplyArea,
			   saleinLots_max_supply_area as saleInLotsMaxSupplyArea,
			   ROW_NUMBER() OVER(ORDER BY saleinlots_idx ASC) rNUM
			   from saleinlots_tbl where 
				<if test='brandName.equals("아이파크")'>
					saleInLots_constructor like '%'||'에이치디씨현대산업개발'||'%'
				</if>
				<if test='brandName.equals("푸르지오")'>
					saleInLots_constructor like '%'||'대우건설'||'%'
				</if>
				<if test='brandName.equals("자이")'>
					saleInLots_constructor like '%'||'지에스건설'||'%'
				</if>
			     ) a
			   where rNUM between #{start} and #{end}
	</select>
</mapper>
