<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.ShopMapper">
	<!-- 주소 구 리스트 가져오기 -->
	<select id="getJusoGuList" parameterType="string" resultType="jusoGuVO">
		select 
			juso_gu_code as jusoGuCode,
			juso_gu_name as jusoGuName
		from juso_gu_tbl where juso_gu_code like #{jusoCityCode}||'%' order by juso_gu_name asc
	</select>
	<!-- 주소 동 리스트 가져오기 -->
	<select id="getJusoDongList" parameterType="string" resultType="jusoDongVO">
		select 
			juso_dong_code as jusoDongCode,
			juso_dong_name as jusoDongName
		from juso_dong_tbl where juso_dong_code like #{jusoGuCode}||'%' order by juso_dong_name asc
	</select>
	<!-- 매물 등록  -->
	<insert id="shopItemAdd" parameterType="shopItemVO">
		insert into shop_item_tbl values(
			shop_item_idx_seq.nextval,
			#{userIdx, jdbcType=VARCHAR},
			#{shopItemTitle, jdbcType=VARCHAR},
			#{shopItemContent, jdbcType=VARCHAR},
			#{shopItemSecretMemo, jdbcType=VARCHAR},
			#{shopItemManager, jdbcType=VARCHAR},
			shop_item_img_idx_seq.nextval,
			default,
			#{shopItemType1, jdbcType=VARCHAR},
			#{shopItemType2, jdbcType=VARCHAR},
			#{shopItemAddr1, jdbcType=VARCHAR},
			#{shopItemAddr2, jdbcType=VARCHAR},
			#{shopItemAddrDong1, jdbcType=VARCHAR},
			#{shopItemAddrHo1, jdbcType=VARCHAR},
			#{shopItemAddrDong2, jdbcType=VARCHAR},
			#{shopItemAddrHo2, jdbcType=VARCHAR},
			#{shopItemLatitude, jdbcType=VARCHAR},
			#{shopItemLongitude, jdbcType=VARCHAR},
			#{shopItemDealType, jdbcType=VARCHAR},
			#{shopItemDeposit, jdbcType=VARCHAR},
			#{shopItemDealPrice, jdbcType=VARCHAR},
			#{shopItemSize1, jdbcType=VARCHAR},
			#{shopItemSizeAll1, jdbcType=VARCHAR},
			#{shopItemSize2, jdbcType=VARCHAR},
			#{shopItemSizeAll2, jdbcType=VARCHAR},
			#{shopItemSize3, jdbcType=VARCHAR},
			#{shopItemSizeAll3, jdbcType=VARCHAR},
			#{shopItemSize4, jdbcType=VARCHAR},
			#{shopItemSizeAll4, jdbcType=VARCHAR},
			#{shopItemFloor1, jdbcType=VARCHAR},
			#{shopItemFloorAll1, jdbcType=VARCHAR},
			#{shopItemFloor2, jdbcType=VARCHAR},
			#{shopItemFloorAll2, jdbcType=VARCHAR},
			#{shopItemHeating1, jdbcType=VARCHAR},
			#{shopItemHeating2, jdbcType=VARCHAR},
			#{shopItemBulidCompany, jdbcType=VARCHAR},
			#{shopItemBulidHallway, jdbcType=VARCHAR},
			#{shopItemBulidDate, jdbcType=VARCHAR},
			#{shopItemMovingDate1, jdbcType=VARCHAR},
			#{shopItemMovingDate2, jdbcType=VARCHAR},
			#{shopItemManage, jdbcType=VARCHAR},
			#{shopItemManagePrice, jdbcType=VARCHAR},
			#{shopItemManagePriceOption, jdbcType=VARCHAR},
			#{shopItemParking, jdbcType=VARCHAR},
			#{shopItemParkingPrice, jdbcType=VARCHAR},
			#{shopItemAnimal, jdbcType=VARCHAR},
			#{shopItemElevator, jdbcType=VARCHAR},
			#{shopItemBalcony, jdbcType=VARCHAR},
			#{shopItemBuiltIn, jdbcType=VARCHAR},
			#{shopItemStructure, jdbcType=VARCHAR},
			#{shopItemOption, jdbcType=VARCHAR},
			#{shopItemLoan, jdbcType=VARCHAR},
			sysdate,
			#{shopItemDelDate, jdbcType=VARCHAR},
			#{shopItemOkState, jdbcType=VARCHAR},
			default
			)
	</insert>
	<!-- 매물 이미지 등록 -->
	<insert id="shopItemImgAdd" parameterType="java.util.List">
		insert into 
		shop_item_img_tbl (
			shop_img_idx,
			shop_item_idx,
			shop_img_name,
			shop_img_path
			)
			select
			shop_item_img_idx_seq.nextval,
			shop_item_idx_seq.currval,
			T.* from(
			<foreach collection="list" item="item" separator="union all">
				select
				#{item.shopImgName} as shop_img_name,
				#{item.shopImgPath} as shop_img_path
				from dual
			</foreach>
			) T
	</insert>
	<!-- 매물리스트 -->
	<select id="selectAllList" resultType="shopItemVO" parameterType="_int">
			select shop_item_idx as shopItemIdx,
				shop_item_manager as shopItemManager,
				shop_item_type1 as shopItemType1,
				shop_item_deal_type as shopItemDealType,
				shop_item_title as shopItemTitle,
				shop_item_sale_state as shopItemSaleState,
				shop_item_premium_state as shopItemPremiumState,
				shop_item_reg_date as shopItemRegDate
			from(select rownum as rnum, item.* from (select * from shop_item_tbl where shop_item_sale_state='판매중' order by rownum desc) item)where rnum between #{start} and #{end} 
	</select>

	<!-- 매물 총 게시물 수 -->
	<select id="shopItemTotalCount" resultType="_int">
		select count(*) cnt from shop_item_tbl
	</select>
	<!-- 매물 상세보기 -->
	<select id="shopItemInfo" parameterType="shopItemVO" resultType="shopItemVO">
		select shop_item_idx as shopItemIdx, 
			shop_item_title as shopItemTitle,
			shop_item_content as shopItemContent,
			shop_item_secret_memo as shopItemSecretMemo,
			shop_item_manager as shopItemManager,
			shop_img_idx as shopImgIdx,
			shop_item_premium_state as shopItemPremium,
			shop_item_type1 as shopItemType1,
			shop_item_type2 as shopItemType2,
			shop_item_addr1 as shopItemAddr1,
			shop_item_addr2 as shopItemAddr2,
			shop_item_addr_dong1 as shopItemAddrDong1,
			shop_item_addr_ho1 as shopItemAddrHo1,
			shop_item_addr_dong2 as shopItemAddrDong2,
			shop_item_addr_ho2 as shopItemAddrHo2,
			shop_item_deal_type as shopItemDealType,
			shop_item_deposit as shopItemDeposit,
			shop_item_deal_price as shopItemDealPrice,
			shop_item_size1 as shopItemSize1,
			shop_item_size_all1 as shopItemSizeAll1,
			shop_item_size2 as shopItemSize2,
			shop_item_size_all2 as shopItemSizeAll2,
			shop_item_size3 as shopItemSize3,
			shop_item_size_all3 as shopItemSizeAll3,
			shop_item_size4 as shopItemSize4,
			shop_item_size_all4 as shopItemSizeAll4,
			shop_item_floor1 as shopItemFloor1,
			shop_item_floor_all1 as shopItemFloorAll1,
			shop_item_floor2 as shopItemFloor2,
			shop_item_floor_all2 as shopItemFloorAll2,
			shop_item_heating1 as shopItemHeating1,
			shop_item_heating2 as shopItemHeating2,
			shop_item_bulid_company as shopItemBulidCompany,
			shop_item_bulid_hallway as shopItemBulidHallway,
			shop_item_bulid_date as shopItemBulidDate,
			shop_item_moving_date1 as shopItemMovingDate1,
			shop_item_moving_date2 as shopItemMovingDate2,
			shop_item_manage as shopItemManage,
			shop_item_manage_price as shopItemManagePrice,
			shop_item_manage_price_option as shopItemManagePriceOption,
			shop_item_parking as shopItemParking,
			shop_item_parking_price as shopItemParkingPrice,
			shop_item_animal as shopItemAnimal,
			shop_item_elevator as shopItemElevator,
			shop_item_balcony as shopItemBalcony,
			shop_item_built_in as shopItemBuiltIn,
			shop_item_structure as shopItemStructure,
			shop_item_option as shopItemOption,
			shop_item_loan as shopItemLoan,
			shop_item_reg_date as shopItemRegDate,
			shop_item_del_date as shopItemDelDate,
			shop_item_ok_state as shopItemOkState,
			shop_item_sale_state as shopItemSaleState
			from shop_item_tbl where shop_item_idx=#{shopItemIdx}
	</select>
	<!--매물상세보기 이미지 -->
	<select id="shopItemImgList" parameterType="_int" resultType="shopItemImgVO">
		select shop_img_idx as shopImgIdx,
				shop_item_idx as shopItemIdx,
				shop_img_name as shopImgName,
				shop_img_path as shopImgPath
				from shop_item_img_tbl
				where shop_item_idx=#{shopItemIdx} 
	</select>
	<!-- 매물 삭제 -->
	<update id="shopItemDelete" parameterType="shopItemVO">
		update shop_item_tbl set shop_item_sale_state='판매중단' where shop_item_idx=#{shopItemIdx}
	</update>
</mapper>