<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.ShopBoardMapper">
  <!-- 부동산페이지에서 리스트조회 -->
  <select id="selectNoticeList" resultType="noticeVO" parameterType="_int">
  select rnum as rnum,
    		notice_index as noticeIndex,
  			notice_type as noticeType,
  			notice_title as noticeTitle,
  			notice_writer as noticeWriter,
  			notice_reg_date as noticeRegDate,
  			notice_state as noticeState
  			 from (select rownum as rn , r.* from (select * from (select rownum as rnum, n.* from 
  			 (select * from notice_tbl where notice_state='정상' and notice_type='부동산' order by notice_reg_date) n) order by rnum desc)r)
  			  where rn between #{start} and #{end}
  </select>
   <select id="totalCount" resultType="_int">
  	select count(*) cnt from notice_tbl where notice_type='부동산' and notice_state='정상'
  </select>

    <!-- 공지사항뷰페이지 -->
  <select id="shopNoticeView" parameterType="noticeVO" resultType="noticeVO">
  	select notice_index as noticeIndex,
  			notice_type as noticeType,
  			notice_title as noticeTitle,
  			notice_writer as noticeWriter,
  			notice_filename as noticeFilename,
  			notice_filepath as noticeFilepath,
  			notice_content as noticeContent
  		from notice_tbl where notice_index=#{noticeIndex} 
  </select>
    <!-- 공지사항업데이트 -->
  <update id="shopNoticeUpdate" parameterType="noticeVO">
  <if test="noticeFilename !=null">
  	update notice_tbl set notice_title=#{noticeTitle},
  						notice_filename=#{noticeFilename},
  						notice_filepath=null,
  						notice_content=#{noticeContent} 
  						where notice_index=#{noticeIndex}
  	</if>
  	<if test="noticeFilename ==null">
  		update notice_tbl set notice_title=#{noticeTitle},
  						notice_filename=null,
  						notice_filepath=null,
  						notice_content=#{noticeContent} 
  						where notice_index=#{noticeIndex}
  	</if>
  </update>
    <!-- 공지사항 삭제 update notice_tbl set notice_state='삭제' where notice_index=#{notice_index},   	delete from notice_tbl where notice_index=#{notice_index}-->
  <update id="shopNoticeDelete" parameterType="noticeVO">
  	update notice_tbl set notice_state='삭제' where notice_index=#{notice_index}
  </update>
  
  <!-- faq리스트조회 -->
  <select id="shopFaqList" resultType="faqVO" parameterType="_int">
  	select faq_index as faqIndex,
  		faq_user_type as faqUserType,
  		faq_question as faqQuestion,
  		faq_state as faqState,
  		faq_answer as faqAnswer,
  		faq_reg_date as faqRegDate
  		from (select rownum as rnum, f.* from (select * from faq_tbl where faq_user_type='부동산' and faq_state='정상'
  		order by rownum desc) f)
  		where rnum between #{start} and #{end}
  </select>
   <select id="faqTotalCount" resultType="_int">
  	select count(*) cnt from faq_tbl where faq_user_type='부동산' and faq_state='정상'
  </select>
  
  <!-- 1:1문의 리스트 -->
  <select id="shopQuestion" resultType="questionVO" parameterType="_int">		
  		  select rnum as rnum,
    		questions_index as questionsIndex,
  			questions_user_type as questionsUserType,
  			questions_title as questionsTitle,
  			questions_answer as questionsAnswer,
  			questions_answer_state as questionsAnswerState,
  			questions_writer as questionsWriter,
  			questions_reg_date as questionsRegDate,
  			questions_state as questionsState	
  			 from (select rownum as rn , r.* from (select * from (select rownum as rnum, n.* from 
  			 (select * from questions_tbl where questions_state='정상' and questions_user_type='부동산' order by questions_reg_date) n) order by rnum desc)r)
  			  where rn between #{start} and #{end}	  
  </select>
  <!-- totalcount -->
  <select id="questionTotalCount" resultType="_int">
  	select count(*) cnt from questions_tbl where questions_user_type='부동산' and questions_state='정상'
  </select>
  
  <!-- 1:1문의 뷰 -->
   <select id="shopQuestionView" parameterType="questionVO" resultType="questionVO">
  	select questions_index as questionsIndex,
  			questions_title as questionsTitle,
  			questions_writer as questionsWriter,
  			questions_content as questionsContent,
  			questions_answer as questionsAnswer
  			from questions_tbl
  			where questions_state='정상' and questions_index=#{questionsIndex}
  </select> 
  
  <!-- 1:1 문의 삭제 -->
   <update id="shopQuestionDelete" parameterType="questionVO">
  	update questions_tbl set questions_state='삭제' where questions_index=#{questionsIndex}
  </update> 
  
  
   <!-- 사용자 1:1 문의보내기 -->
  <insert id="shopQuestionInsert" parameterType="questionVO">
  		insert into questions_tbl values(
  			questions_index.nextval,
  			#{questionsUserType},
  			#{questionsTitle},
  			#{questionsContent},
  			null,  	
  			#{questionsAnswerState},
  			#{questionsWriter},
  			sysdate,
  			#{questionsState})
  </insert> 
  
    <!-- 검색 -->
  <select id="searchKeywordTitle" resultType="noticeVO" parameterType="com.dassa.vo.SearchNoticeVO">
	select rnum as rnum,
	notice_index as noticeIndex,
	notice_type as noticeType,
	notice_title as noticeTitle,
	notice_writer as noticeWriter,
	notice_reg_date as noticeRegDate,
	notice_state as noticeState
	from (select rownum as rn , r.* from (select * from (select rownum as rnum,
	n.* from
	(select * from notice_tbl where
	notice_title like '%'||#{keyWord}||'%' and
	notice_type='부동산'
	order by notice_reg_date) n) order by rnum desc)r)
	where rnum between #{start} and #{end}
  </select>
   <select id="titleCount" parameterType="com.dassa.vo.SearchNoticeVO" resultType="_int">
	select count(*) cnt from notice_tbl where notice_type='부동산' and notice_title like '%'||#{keyWord}||'%'
  </select>
  
     <!-- 타입으로문의검색 -->
  <select id="searchShopTitle" resultType="questionVO" parameterType="com.dassa.vo.SearchQuestionVO">
	select rnum as rnum,
	questions_index as questionsIndex,
	questions_user_type as questionsUserType,
	questions_title as questionsTitle,
	questions_answer as questionsAnswer,
	questions_answer_state as questionsAnswerState,
	questions_writer as questionsWriter,
	questions_reg_date as questionsRegDate,
	questions_state as questionsState
	from (select rownum as rn , r.* from (select * from (select rownum as rnum,
	n.* from
	(select * from questions_tbl where
	<if test="type==1">questions_title</if>
	<if test="type==2">questions_writer</if>
	 like '%'||#{keyWord}||'%' and
	questions_user_type='부동산'
	order by questions_reg_date) n) order by rnum desc)r)
	where rnum between #{start} and #{end}
	
  </select>
   <select id="ShopCount" parameterType="com.dassa.vo.SearchQuestionVO" resultType="_int">
	select count(*) cnt from questions_tbl where 
	questions_user_type='부동산'
	and
	<if test="type==1">questions_title</if> 
	<if test="type==2">questions_writer</if> 
		like '%'||#{keyWord}||'%'
  </select>
</mapper>
