<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.ShopMapper">

	<select id="getJusoGuList" parameterType="string" resultType="jusoGuVO">
		select 
			juso_gu_code as jusoGuCode,
			juso_gu_name as jusoGuName
		from juso_gu_tbl where juso_gu_code like #{jusoCityCode}||'%' order by juso_gu_name asc
	</select>
	
	<select id="getJusoDongList" parameterType="string" resultType="jusoDongVO">
		select 
			juso_dong_code as jusoDongCode,
			juso_dong_name as jusoDongName
		from juso_dong_tbl where juso_dong_code like #{jusoGuCode}||'%' order by juso_dong_name asc
	</select>
	
</mapper>