<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dassa.mapper.UserMapper">

<!-- 	<insert id="regPackage" parameterType="com.dassa.vo.PackageRegVO">
		insert
		into MOVE_PACKAGE_TBL values (
		MOVE_PACKAGE_SEQ.nextval,
		#{packageType},
		#{packageName}, -->
		<select id="selectOneUser" parameterType="userVO" resultType="userVO">
		 select user_idx as userIdx,
				user_id as userId,
				user_pw as userPw,
				user_name as userName,
				addr as userAddr,
				user_phone as userPhone,
				user_email as userEmail,
				pro_filename as proFilename,
				pro_filepath as proFilepath,
				user_introduce as userIntroduce,
				registration_number as registrationNumber,
				user_car as userCar,
				comp_filename as compFilename,
				comp_filepath as compFilepath,
				user_type as userType,
				social_id as socialId,
				enroll_date as enrollDate 
		  from user_tbl where user_id=#{userId} and user_pw=#{userPw}
		</select>
	
		<select id="socialLogin" parameterType="userVO" resultType="userVO">
			select 	user_idx as userIdx,
					user_id as userId,
					user_pw as userPw,
					user_name as userName,
					addr as userAddr,
					user_phone as userPhone,
					user_email as userEmail,
					pro_filename as proFilename,
					pro_filepath as proFilepath,
					user_type as userType,
					social_id as socialId,
					enroll_date as enrollDate
			from user_tbl where social_id=#{socialId}
		</select>
		
		<insert id="commonInsert" parameterType="userVO">
			insert into user_tbl values (
			user_no_seq.nextval,
			<choose>
				<when test="socialId != null">
					null,
					null,
				</when>
				<otherwise>
					#{userId},
					#{userPw},
				</otherwise>
			</choose>
			   #{userName},
			    #{userAddr},
			     #{addrCode},
			      #{userPhone},
			       #{userEmail},
			        null,
			         null,
			          null,
			           null,
			            null,
			             null,
			              null,
			               null,
			                #{userType},
			                <choose>
							   <when test="socialId != null">
								   #{socialId},
							   </when>
							   <otherwise>
								   null,
							   </otherwise>
						    </choose>
			                  default)
		</insert>
		
		<insert id="driverInsert" parameterType="userVO">
			insert into user_tbl values (
			user_no_seq.nextval,
			 #{userId},
			  #{userPw},
			   #{userName},
			    #{userAddr},
			     #{addrCode},
			      #{userPhone},
			       #{userEmail},
			        null,
			         null,
			          #{userIntroduce},
			           #{registrationNumber},
			            null,
			             #{userCar},
			              #{compFilename},
			               #{compFilepath},
			                #{userType},
			                 null,
			                  default)
		</insert>
		
		<insert id="shopInsert" parameterType="userVO">
			insert into user_tbl values (
			user_no_seq.nextval,
			 #{userId},
			  #{userPw},
			   #{userName},
			    #{userAddr},
			     #{addrCode},
			      #{userPhone},
			       #{userEmail},
			        null,
			         null,
			          #{userIntroduce},
			           #{registrationNumber},
			            #{businessNumber},
			             null,
			              #{compFilename},
			               #{compFilepath},
			                #{userType},
			                 null,
			                  default)
		</insert>
		
		<select id="idCheck" parameterType="userVO" resultType="userVO">
			select user_id as userId from user_tbl where user_id=#{userId}
		</select>
</mapper>