
.container{
	min-width:1600px;
	min-height: 100%;
	padding-bottom: 50px;
	position:relative;
	width:100%;
	overflow: hidden;
	margin: 0 auto;

}
.container.full nav{
	width: 70px;
}
.container.full .contents{
	margin-left: 70px;
}
footer{
	height: 50px;
	border-top: 1px solid #ced3d8;
	background: #f4f5f7;
	text-align: center;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 8;
}
footer .copyright{
	color: #999;
	font-size: 11px;
	line-height: 50px;
}

/* nav start  */
nav{
	float: left;
	width: 310px;
	position: relative;
	font-size: 0;

}

.main_nav_wrap{
	height: calc(100vh - 117px);

}
.main_nav_wrap,
.sub_nav_wrap{
	display:inline-block;
	vertical-align: top;
}
.main_nav,
.sub_nav{
	position:relative;
	z-index: 2;
	height: 100%;

}


.main_nav a.logout{
	position:absolute;
	bottom:-50px;
	left:0;
}

.main_nav .nav_txt{
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	bottom:6px;
	font-size: 12px;

}

.main_nav_wrap{
	/*float: left;*/
	width:70px;
	position: relative;
	background-color: #ce2027;
	/*height:100%;*/

}
.main_nav_wrap:after{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	height: 5000%;
	background: #4683bd;
	z-index: 1;
}

.main_nav a{
	z-index: 2;
	height:60px;
	width:100%;
	vertical-align: top;
	position:relative;
	color: #fff;
}
.main_nav a i{
	position:absolute;
	left:50%;
	top:40%;
	transform: translate(-50% , -50%);
	font-size: 0;
	width: 26px;
	height: 26px;
}
.main_nav a.on{
	background-color: rgba(0, 0, 0, 0.3);
}

.main_nav a .home{
	background:url("../img/icon_menu_home_off.png") no-repeat center / cover;
}
.main_nav a.on .home{
	background:url("../img/icon_menu_home_on.png") no-repeat center / cover;
}

.main_nav a .set{
	background:url("../img/icon_menu_set_off.png") no-repeat center / cover;
}
.main_nav a.on .set{
	background:url("../img/icon_menu_set_on.png") no-repeat center / cover;

}

.main_nav a .member{
	background:url("../img/icon_menu_member_off.png") no-repeat center / cover;
	height:30px;
}
.main_nav a.on .member{
	background:url("../img/icon_menu_member_on.png") no-repeat center / cover;
}

.main_nav a .shop{
	background:url("../img/icon_menu_shop_off.png") no-repeat center / cover;
}
.main_nav a.on .shop{
	background:url("../img/icon_menu_shop_on.png") no-repeat center / cover;
}

.main_nav a .shop{
	background:url("../img/icon_menu_shop_off.png") no-repeat center / cover;
}
.main_nav a.on .shop{
	background:url("../img/icon_menu_shop_on.png") no-repeat center / cover;
}

.main_nav a .reserve{
	background:url("../img/icon_menu_reserve_off.png") no-repeat center / cover;
}
.main_nav a.on .reserve{
	background:url("../img/icon_menu_reserve_on.png") no-repeat center / cover;
}
.main_nav a .board{
	background:url("../img/icon_menu_board_off.png") no-repeat center / cover;
}
.main_nav a.on .board{
	background:url("../img/icon_menu_board_on.png") no-repeat center / cover;
}
.main_nav a .marketing{
	background:url("../img/icon_menu_marketing_off.png") no-repeat center / cover;
}
.main_nav a.on .marketing{
	background:url("../img/icon_menu_marketing_on.png") no-repeat center / cover;
}
.main_nav a .stats{
	background:url("../img/icon_menu_stats_off.png") no-repeat center / cover;
}
.main_nav a.on .stats{
	background:url("../img/icon_menu_stats_on.png") no-repeat center / cover;
}

.main_nav a.logout .logout{
	background:url("../img/icon_menu_logout_off.png") no-repeat center / cover;
}
.main_nav a.logout:hover .logout,
.main_nav a.logout:focus .logout{
	background:url("../img/icon_menu_logout_on.png") no-repeat center / cover;

}




.sub_nav_wrap{
	position: relative;
	background-color: #F3F4F5;
	height: 100%;
	width:230px;
}
.sub_nav_wrap:after{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	height: 5000%;
	background: #F3F4F5;
	z-index: 1;
	border-right: 1px solid rgba(81, 99, 120, 0.2);

}

.sub_nav .nav_title{
	line-height: 34px;
	font-size: 12px;
	font-weight: 500;
	color: #98A7B3;
	padding-left: 18px;
}
.sub_nav .nav_group{
	border-top:1px solid #ccc;
}
.sub_nav .nav_group a{
	display:block;
	line-height: 44px;
	color: #516378;
	font-weight: 600;
	font-size: 14px;
	padding-left:18px;
}


.sub_nav .nav_group a:hover,
.sub_nav .nav_group a:focus{
	background-color: rgba(81, 99, 120, 0.06);
}
.sub_nav .nav_group a.on{
	background-color: rgba(81, 99, 120, 0.2);

}
/* nav end  */


/* common */

.page_header{
	position:relative;
	border-bottom: 1px solid #ced3d8;
	margin-bottom: 15px;
}
.page_header .page_title{
	font-size: 24px;
	color: #516378;
	font-weight: 700;
	margin-bottom: 15px;
}

.section_title{
	font-size: 17px;
	color: #666;
	font-weight: 500;
	margin-bottom:15px;
	letter-spacing: -1px;
}

.btn_box{
	text-align: center;
	margin-top:50px;
	font-size: 0;
}
.btn_box a{
	width:90px;
	color: #fff;
	line-height: 40px;
	padding-top:0;
	padding-bottom:0;
	font-size: 16px;
	text-align: center;
}
.btn_box a + a{
	margin-left:20px;
}


.tag{
	display:inline-block;
	padding:4px 5px;
	font-size: inherit;
}


.text_editor{
	min-height:450px;
	outline:none;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #d9dee3;
	padding: 10px;
	font-size: 12px;
	line-height: 18px;
}
.text_editor:focus{
	border-color: #b2b2b2;
}

.text_editor.smaller{
	min-height:100px;
}
.text_editor.smallest{
	min-height:60px;
}
/* contents start */

.contents{
	margin-left: 300px;
	position: relative;
	padding: 50px 50px 50px 50px;
}


.section .section_info{
	margin-bottom:30px;

}

/* table style */
.tip_box{
	margin-top: 20px;
}
.tip_box .tip{
	background:url("../img/icon_tip.png") no-repeat left center / 16px 16px;
	padding-left:25px;
	line-height: 18px;
	font-size: 13px;
	color: #888;
	font-weight: 500;
}
.tip_box .tip + .tip{
	margin-top: 8px;
}



.section .section_title ~ .toggle_box{
	margin-left:15px;
}

.section + .section{
	padding-top: 30px;
}
.tableMenu{
	margin-bottom:20px;
}
.tableBox.list{
	border:2px solid #E8EBED;
	border-radius:5px;
}


.btnWrap{
	padding-top:50px;
	text-align: center;
}
.btnWrap a{
	font-weight: 500;
}


.push_area{
	padding:10px;
	min-height:150px;
	line-height: 20px;
}

.terms_area{
	padding:10px;
	min-height:350px;
	line-height: 20px;
}

.scroll_x_wrap {
	overflow: hidden;
	width: 100%;
	position:relative;
}
.scroll_x_wrap .tabs_group:before{
	content:'';
	position:absolute;
	left:0;
	bottom:32px;
	right:0;
	background: #bbb;
	height: 1px;
	z-index: -1;
}
.scroll_x_wrap .tabs_group{
	white-space: nowrap;
	overflow-x:auto;
	overflow-y:hidden;
	font-size: 0;
	padding-bottom: 30px;
	margin-bottom: 0;
	border-bottom:none;

}
.scroll_x_wrap .tabs_group li{
	float:none;
	display:inline-block;
}
.scroll_x_wrap .tabs_group li a{
	margin-left:auto;
}

.tabs_group{
	margin-bottom:30px;
	width:100%;
	display:inline-block;
	border-bottom:1px solid #bbb;
}
.tabs_group li{
	float:left;
}
.tabs_group li a{
	padding:15px 30px;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	border-top:1px solid transparent;
	border-bottom:1px solid #bbb;
	font-size: 14px;
	font-weight: 500;
	color: #98A7B3;
	margin-left:-1px;
	margin-bottom:-1px;
}
.tabs_group li a:hover{
	color: #51637A;
}
.tabs_group li a.on{
	border:1px solid #bbb;
	border-bottom:1px solid #fff;
	color: #d03838;
	font-weight: 500;
}




/* popup */

.popup{
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	transform: translate(-50% , -50%);
	min-width:750px;
	max-height:700px;
	z-index:102;
	padding:0 15px;
}

.overlay:before {
	content:"";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 9;
}


.popup .popupCon{
	border-radius: 10px;
	overflow: hidden;
}
.popup .popupCon .tbox.short{
	width:80%;
}
.popup .popupCon .cell .btnDefault.short{
	width:calc(20% - 10px);
	margin-left:10px;
	vertical-align: middle;
	height:36px;
	margin-right:0;
	padding:0;
}


.popup .popupCon .head{
	text-align: center;
	color: #fff;
	padding:10px 0;
	background-color: #d03838;
	font-size: 14px;
	position:relative;
}
.popup .popupCon .head span{
	color: inherit;
	font-size: inherit;
}
.popup .popupCon .body{
	width:100%;
	background-color: #fff;
	padding:20px;
}
.popup .popupCon .body.scroll{
	max-height:600px;
	overflow-y:auto;
}
.popup .popupCon .footer{
	background-color: #fff;
	/*border-top: 1px solid #ccc;*/
	/*text-align: right;*/
	text-align: center;
	padding:15px 20px 15px 20px;
}
.popup .popupCon .footer a{
	line-height: 25px;
	font-size: 14px;
}
.popup .popupCon .footer a + a{
	margin-left:5px;
}

.popup .filter_list span{
	font-size: 14px;
	color: #454545;
}
.popup .filter_sub th,
.popup .filter_sub td{
	height:100px;
}
.popup .filter_sub td{
	vertical-align: top;
}

.popup .filter_list div + div{
	padding-top: 9px;
}

.popup .closeBtn{
	position:fixed;
	right:10px;
	top:-15px;
	background:url("../img/icon_filter.png") no-repeat center / cover;
	width:46px;
	height:46px;

}

.popup .popupCon .footer > a,
.popup .popupCon .footer > button{
	/*margin-left : 10px;*/

}

.popup .opBox,
.popup .opHead{
	font-size: 0;
}
.popup .opBox + .opBox{
	margin-top:10px;
}
.popup .opBox .opName,
.popup .opBox .opPrice,
.popup .opBox .opMenu{
	display:inline-block;
	vertical-align: middle;
	text-align: center;

}
.popup .opBox .opName,
.popup .opHead .opName{
	width:200px;
}
.popup .opBox .opPrice,
.popup .opHead .opPrice{
	width:150px;
	padding:0 10px;
}
.popup .opBox .opMenu,
.popup .opHead .opMenu{
	width:120px;
}

.popup .opBox .opName .name{
	font-size: 14px;
}

.popup .opHead .opName,
.popup .opHead .opPrice,
.popup .opHead .opMenu{
	font-size: 13px;
	text-align: center;
	display:inline-block;
	padding-bottom: 10px;
}


.popup.schedule_view{
	min-width:1300px;
	max-width:1800px;
}

.popup.memo,
.popup.point_set,
.popup.save_process,
.popup.save_modify,
.popup.send{
	min-width:400px;
}

.popup.send .send_sel{
	font-size: 0;
	margin-bottom: 20px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;

}
.popup.send .send_sel .send_type{
	width: 50%;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	border-left:1px solid #ccc;
}
.popup.send .send_sel .send_type + .send_type{
	border-right:1px solid #ccc;
}
.popup.send .send_sel .send_type.on{
	background-color: #d03838;
	color: #fff;
}

.popup.schedule_view .schedule_info{
	line-height: 18px;
	font-size: 12px;
	color: #333;
	padding:3px 3px 2px;
	background-color: #f1f1f1;
}
.popup.schedule_view .schedule_info .txt{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	width:100%;
	overflow:hidden;
}
.popup.schedule_view .table_list th:first-child{
	background-color: #fcf4df;
}
.popup.schedule_view .table_list td{
	padding:0;
	position:relative;
	height: 42px;
}

.popup.schedule_view .reserved_btn{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 7;

}

.popup.schedule_view .reserved_btn .reserved_txt{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50% , -50%);

}
.popup.schedule_view .reserved_btn.on{
	background-color: #d03838;
}
.popup.schedule_view .reserved_btn.on .schedule_info{
	color: #fff;
	background-color: #d03838;
}


#calendar_full{
	/*max-height:600px;*/
}
#calendar_full .fc-clear {
	clear: none;
}

#calendar_full .fc-widget-header{
	line-height: 32px;

}
#calendar_full .fc-widget-content .fc-row{
	min-height:90px !important;
	height:100% !important
}
#calendar_full .fc-widget-content .fc-scroller{
	height: 100% !important;
}
#calendar_full .fc-day-grid-event .fc-content{
	line-height: 1.5;
}
#calendar_full .fc-day-grid-event .fc-content .fc-title{
	font-size: 14px;
}
#calendar_full .fc-toolbar .fc-center{
	padding-top: 10px;
}
#calendar_full .fc-event{
	cursor: default;
}
#calendar_full .fc-day-grid-event{
	margin-top: 4px;


}
#calendar_full .fc-basicWeek-view .fc-content-skeleton{
	padding-bottom: 4px;
}

/*.board_textarea {*/
/*width: 700px;*/
/*min-height: 500px;*/
/*border: 2px solid #e8ebed;*/
/*padding: 15px;*/
/*line-height: 18px;*/
/*}*/
/*.board_textarea.inquiry{*/
/*min-height:200px;*/
/*}*/

/* popup end */

/* set_form start */

.set_form.search{
	padding-bottom:20px;
	border-bottom:1px solid #ced3d8;
	margin-bottom: 30px;
}
.set_form.search .set_form_search{
	text-align: center;
	margin-top: 20px;
}
.set_form.search .set_form_search .btn{
	width:100px;
	line-height: 20px;
	text-align: center;

}



/* set_form end */

/* list_form start */
.table_list_btn{
	margin-bottom: 20px;
	position:relative;
	min-height:26px;
}
.table_list_btn .sbox + .sbox{
	margin-left: 5px;
}

.table_list_btn .right_btn{
	float:right;
}
.table_list_btn .reserve_date{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50% , -50%);
}
.table_list_btn .reserve_date span{
	font-size: 14px;
}

.mini_img{
	width:50px;
	height:50px;
}
.push_list{
	text-decoration: underline;
	text-underline-position: under;
	font-size: 12px;
}

.table_list .none{
	background-color: #f1f1f1;
}

/* list_form start */





/* shop start */
.img_upload {
	width:125px;
	display:inline-block;
	height:120px;
	position:relative;
	border:1px solid #d9dee3;
	margin-left:5px;
	vertical-align: top;
}
.img_upload.banner{
	width: 450px;
}
.img_upload .imgUp{
	background:url("/driver/img/no-images.png") no-repeat center;
	position:relative;
	width:100%;
	height:100%;
}

.img_upload:first-child{
	border-color:#3A5889;
	margin-left:0;
}
.img_upload:first-child .imgUp{
	background:url("/driver/img/icon_imgUp.png") no-repeat center;

}
.img_upload .imgDel{
	position:absolute;
	right:5px;
	top:5px;
	background:url("/driver/img/icon_delBtn.png") no-repeat center;
	display:inline-block;
	width:20px;
	height:20px;
}

.img_upload img{
	width:100%;
	height:100%;
}


.keyword_add,
.keyword_box {
	margin-top:3px;
	margin-bottom:3px;
}
.keyword_box {
	display:inline-block;
	vertical-align: top;
	background-color: #ccc;
	border:1px solid #ccc;
	font-size: 0;
	margin-right:5px;
}

.keyword_box .keyword{
	display:inline-block;
	padding:0 10px ;
	line-height: inherit;
	background-color: #fff;
	font-size: 12px;
}
.keyword_box .tbox.keyword{
	height: 24px;
}
.keyword_box .keyword,
.keyword_box .keyword_del{
	vertical-align: middle;
	display:inline-block;
	line-height: 24px;

}
.keyword_box .keyword_del{
	text-align: center;
	background:url("../img/icon_delBtn.png") no-repeat center / 12px 12px;
	display:inline-block;
	padding:0 10px;
	font-weight: 500;
	font-size: 12px;
	width:12px;
	height:12px;
	line-height: inherit;
}
/* shop end */





/* item_add start */
.opSort{
	color: #2b2b2b;
	font-weight: 500;
	display:inline-block;


}
/* item_add end */


/* item_add start */
.op_group{
	font-size: 0;
}
.op_box:first-child{
	padding-top:10px;
	margin-top:10px;
}
.op_box:last-child{
	padding-bottom:10px;
}
.op_box{
	background-color: #f5f5f5;
	padding:5px 10px;
}
.op_sort{
	color: #2b2b2b;
	font-weight: 500;
	width:130px;
	font-size: 14px;
}

.op_user{
	margin-right:10px;
}
.op_phone{
	margin-right:10px;
}

.op_sort,
.op_name,
.op_price,
.op_menu{
	display:inline-block;
	vertical-align: middle;
}
.op_name,
.op_price,
.op_menu{
	margin-left: 5px;
}

/* item_add end */



/* reserve_info start */
.set_reserve{
	margin-top: 10px;
}
/* reserve_info end */

/* reserve_live start */
.table_list.reserve th{
	font-size: 12px;
	padding:3px;
}
.table_list.reserve td{
	padding:3px;
}
.table_list.reserve td.reserved{
	background-color: rgba(205,32,36,0.2);
	color: #333;
	word-break : inherit;
	word-wrap: inherit;
}
.table_list.reserve td.reserved a{
	font-size: 13px;
	font-weight: 500;
}
.table_list.reserve td.staff{
	background-color: #cd2024;
	color: #fff;
}

/* reserve_live end */




/* sms_set start */

.sms_set{
	position:relative;
	margin-bottom: 10px;
}
.sms_set .byte_show{
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px 5px;
	background: #eaeaea;
	color: #777;
}
.sms_set .byte_show .count{
	color: #cd2024;
	font-weight: 500;
}

.sms_link{
	text-decoration: underline;
	text-underline-position: below;
	color: #cd2024;
}

/* sms_set end */

/* login_start */

.login_wrap{
	text-align: center;
	padding-top: 150px;
}
.login_wrap .logo_box{
	margin-bottom: 53px;
}
.login_wrap .logo{
	display:inline-block;
	background:url("../img/icon_logo.png") no-repeat center / cover;
	width:90px;
	height: 90px;
}

.login_wrap .login_group{
	height: 400px;
	font-size: 0;
	margin:0 auto;
	border:1px solid #3b3b3b;
	display:inline-block;
	overflow: hidden;

}
.login_wrap .login_group .login_box{
	background-color: #3b3b3b;
	width: 440px;
	padding:0 50px;
	display:inline-block;
	vertical-align: top;

}
.login_wrap .login_group .login_tit{
	padding-top: 191px;
	background:url("../img/img_login.png") no-repeat center top 74px ;
	color: #fff;
	font-size: 36px;
	font-weight: 700;

}
.login_wrap .login_group .login_txt{
	padding-top: 23px;
	border-top:1px solid #fff;
	margin-top: 23px;
	color: #fff;
	font-size: 14px;
	padding-bottom: 112px;

}
.login_wrap .login_group .login_box + .login_box{
	background-color: #fff;
	text-align: center;
	padding:77px 60px 72px;
}

.login_wrap .login_group .login_box .tit_txt{
	font-size: 26px;
	font-weight: 700;
	color: #000;
	padding-bottom: 29px;

}
.login_wrap .login_group .login_box .input_box{
	height: 50px;
	border:1px solid #ccc;
	text-align: left;
	font-size: 0;
}
.login_wrap .login_group .login_box .input_box + .input_box{
	margin-top: 10px;
}
.login_wrap .login_group .login_box .input_box input{
	border:none;
	height: 100%;
	width:calc(100% - 70px);
	padding:0 23px;
	vertical-align: top;
	display:inline-block;
	outline: none;

}

.login_wrap .login_group .login_box .input_box .mark{
	background-color: #f3f3f3;
	position:relative;
	border-right:1px solid #ccc;
	display:inline-block;
	vertical-align: top;
	height: 100%;
	width: 70px;

}
.login_wrap .login_group .login_box .input_box .mark .ico{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50% , -50%);
}
.login_wrap .login_group .login_box .input_box .mark .ico_id{
	background:url("../img/icon_id_mark.png") no-repeat center / cover;
	width:21px;
	height: 22px;
}
.login_wrap .login_group .login_box .input_box .mark .ico_pw{
	background:url("../img/icon_pw_mark.png") no-repeat center / cover;
	width:17px;
	height: 26px;
}
.login_wrap .login_group .login_btn{
	line-height: 65px;
	background-color: #d03838;
	color: #fff;
	font-weight: 700;
	margin-top: 20px;
	font-size: 26px;
	width:100%;
}

.login_wrap .login_group .login_menu{
	text-align: left;
	padding-top: 10px;
}


/* login_end */

/* 181026 추가 */

.table_list .selling span{
	min-width:56px;
	text-align: left;
}
.table_list .selling{
	line-height: 22px;
}
.table_list .selling + .selling{
	margin-top: 5px;

}

.table_list .selling label input[type=radio]{
	display:none;
}
.table_list .selling label input[type=radio] ~ span{
	background-color: #ccc;
	text-align: center;
	padding:3px;
	border:1px solid #ccc;
	cursor: pointer;
	color: #666;


}
.table_list .selling label input[type=radio]:checked ~ span{
	background-color: #d03838;
	color: #fff;
	border:1px solid transparent;
	position:relative;
}

.table_list .selling label input[type=radio]:checked ~ span:after{
	content:'대표';
	position:absolute;
	display:inline-block;
	font-size: 10px;
	color: #000;
	right:-30px;
	top:50%;
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: #d03838;
	color: #fff;
	padding:2px;

}

.template_list{
	font-size: 0;
	margin-bottom: 50px;
}


.template_list .template_box{
	width: calc(25% - 15px);
	margin-right:20px;
	display:inline-block;
	position:relative;
	cursor: pointer;

}
.template_list .template_box:after{
	content:'';
	display:inline-block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	border:1px solid #2b2b2b;
	background-color: rgba(0,0,0,0.3);
}
.template_list .template_box.on:after{
	border:2px solid #ce2027;
	background:none;

}


.template_list .template_box:nth-child(4n){
	margin-right: 0;
}

.template_list .template_box a{
	display:block;
	position:relative;
	z-index: 11;
}
.template_list .template_box .img_box{
	position:relative;
}
.template_list .template_box .img_box img{
	width: 100%;
	height: 180px;
}
.template_list .template_box .info_box{
	padding:20px 10px;
	text-align: center;
}

.template_list .template_box .info_box .template_txt{
	font-size: 14px;

}
.template_list .template_box.selected .select_show{
	display:block;
}
.template_list .template_box .select_show{
	display:none;
	position:absolute;
	left:10px;
	top:10px;
	background-color: #cd2024;
	color: #fff;
	font-size: 14px;
	width: 80px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	font-weight: 500;
}

.template_info{
	display:none;
}
.template_info .template_tit{
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 17px;
	color: #666;

}

.template_info .template_preview{
	border:1px solid #ccc;
	padding:15px;
	font-size: 14px;
	text-align: center;
}
.template_info .template_preview .img_box{
	display:inline-block;
}
.template_info .template_preview .img_box img{
}

/** 181120 추가 **/

.pop_wrap{
	padding:20px;
}
table.table_list .set_menu{
	margin:-3px;
}
table.table_list .set_menu a{
	margin:3px;

}

.section_box + .section_box{
	padding-top: 50px;
}

.attach_img{
	width: 200px;
	height: 200px;
}
.attach_img img{
	width: 100%;
	height: 100%;
}

table.table_set .search_guest,
table.table_set .search_fin,
table.table_set .search_user{
	display:none;
}

table.table_set .ess{
	font-weight: 700;
	color: red;
	font-size: 16px;

}

table.table_list .align_btn{
	font-size: inherit;
	padding-right:15px;
	background:url("../img/icon_align_none.png") no-repeat right center / 10px 2px;

}
table.table_list .align_btn.des,
table.table_list .align_btn.asc{
	color: red;
}

table.table_list .align_btn.des{
	background:url("../img/icon_align_des.png") no-repeat right center / 10px 6px;


}
table.table_list .align_btn.asc{
	background:url("../img/icon_align_asc.png") no-repeat right center / 10px 6px;

}
table.table_list .menu_set {
	margin:-3px;
	font-size: 0;
}
table.table_list .menu_set a{
	margin:3px;

}


/* point_pop */
.popup .id_search{
	font-size: 0;
}
.popup .id_search .tbox{
	width: calc(100% - 100px);
}
.popup .id_search a{
	width: 100px;

}
.popup .rs_search{
	font-size: 0;
	display:none;
}
.popup .rs_search.show{
	display:block;
}
.popup .rs_search.show .row:first-child{
	margin-top: 0;
}

.popup .rs_search .row:first-child{
	margin-top: 20px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.popup .rs_search .row + .row{
	border-bottom:1px solid #ccc;


}

.popup .rs_search .tit,
.popup .rs_search .con{
	display:inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 35px;
	padding:0 10px;

}
.popup .rs_search .tit{
	width: 30%;
	background-color: #f1f1f1;
}
.popup .rs_search .con{
	width: 70%;
	border-left:1px solid #ccc;
}
.popup .rs_search .con.input{
	padding:0;
}
.popup .rs_search .con.input .tbox{
	border:none;
	height: auto;
}


/** 데이터 없음 표시 **/
.none_box{
	padding:20px 0 ;
}

.none_box .data_none{
	width: 170px;
	height: auto;
}

.table_set .op_list{
	display:none;
	margin:5px -5px -5px;
}
.table_set .op_list .sbox{
	margin:5px;
}

.txt_editor{
	height: 500px;
}

/* 입찰 상세보기   */
section.driver.ys .driverPont p3{
	font-size: 17px;
	color: #666;
	font-weight: 500;
   	margin-bottom: 15px;
   	letter-spacing: -1px;
}

section.driver.ys .section {
	padding:8px;
	/* background-color: #EEEEEE; */
}
section.driver.ys .section .infoBox{
	margin-top:8px;
	padding:16px;
	background-color: #fff;
}

section.driver.ys .section .infoTitle{
	font-size: 18px;
	padding-bottom:15px;
	border-bottom:1px solid rgba(0,0,0,0.87);
}
section.driver.ys .section .infoListBox li{
	padding:16px 8px;
	border-bottom: 1px solid rgba(0,0,0,0.12);

}
section.driver.ys .section .infoListBox li.bg{
	background-color: #EEEEEE;

}
section.driver.ys .section .infoBox .row{
	position:relative;
	padding-left:150px;
}
section.driver.ys .section .infoBox .row.static {
	padding-left:0;
}
section.driver.ys .section .infoBox .row.static .subject{
	display:inline-block;
	position:static;
	transform: none;

}
section.driver.ys .section .infoBox .row .subject{
	position:absolute;
	left:0;
	top:50%;
	transform: translateY(-50%);
	font-size: 12px;
}

section.driver.ys .section .infoBox .row .addr{
	margin-bottom: 8px;
	font-size: 20px;
}
section.driver.ys .section .infoBox .row .addrInfo{
	color: #666;
	font-size: 16px;
	line-height: 22px;
}
section.driver.ys .section .infoBox .hopeInfo{
	margin: 16px 0;
	border: 1px solid rgba(0,0,0,0.12);
	border-radius: 4px;
	padding: 16px;
	background-color: #fff;
}

section.driver.ys .section .infoBox .hopeInfo .hopeTitle{
	height: 22px;
	color: rgba(0,0,0,0.87);
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
}
section.driver.ys .section .infoBox .hopeInfo .hopeTitle .accent{
	color: #F65F50;;
}
section.driver.ys .section .infoBox .hopeInfo .hopeText{
	margin-top: 8px;
	color: rgba(0,0,0,0.6);
	font-size: 14px;
	letter-spacing: 0.1px;
	line-height: 28px;
}
section.driver.ys .section .infoBox .packageName{
	font-size: 12px;
	margin-bottom: 7px;
}
section.driver.ys .section .infoBox .packageOption{
	font-size: 12px;
	color: #666;
}

section.driver.ys .section .infoListBox {
	font-size: 0;
}
section.driver.ys .section .infoListBox + .infoListBox{
	border-top:1px solid rgba(0,0,0,0.87);
	margin-top: 20px;
}
section.driver.ys .section .infoListBox li.package{
	width: 50%;
	display:inline-block;
}
section.driver.ys .section .guideBox{
	/*padding:16px;*/
	padding:22px 0 16px;
	margin-top:8px;
}

section.driver.ys .section .guideBox .guide + .guide{
	padding-top: 8px;
	border-top:1px solid #eee;
	margin-top: 8px;

}
section.driver.ys .section .guideBox .guideInfo{
	background-color: #fff;
	padding:16px;
	border:1px solid #ccc;
}

section.driver.ys .section .guideBox .guideTitle{
	margin-bottom: 5px;
}
section.driver.ys .section .guideBox .guideText{
	color: #666;
	line-height: 20px;
	font-size: 14px;
}

section.driver.ys .section .agreeBox{
	padding:10px 0 20px;
}
section.driver.ys .section .agreeBox .agree + .agree{
	margin-top: 20px;

}
section.driver.ys .section .memo{
	padding:15px;
	border:1px solid #eee;
	font-size: 16px;
	line-height: 22px;
	min-height: 120px;
	width: 100%;
}
/* driverSale CSS*/
section.driverSale{
	width:80%;
	margin: 0 auto;
}
section.driverSale .saleBox{
	width:45%;
	margin: 0 20px 20px 0;
	float: left;
}
section.driverSale .saleBox2{
	width:90%;
	margin: 0 20px 20px 0;
}
section.driverSale .saleTitle{
	font-size: 20px;
}






