<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
		"-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
<!--		<typeAlias type="kh.student.vo.StudentVO" alias="student"/>-->
		<typeAlias type="java.util.Map" alias="map"/>
		<typeAlias type="com.dassa.vo.UserVO" alias="userVO"/>
		<typeAlias type="com.dassa.vo.JusoCityVO" alias="jusoCityVO"/>
		<typeAlias type="com.dassa.vo.JusoGuVO" alias="jusoGuVO"/>
		<typeAlias type="com.dassa.vo.JusoDongVO" alias="jusoDongVO"/>
		<typeAlias type="com.dassa.vo.ShopItemVO" alias="shopItemVO"/> <!-- 매물 -->
		<typeAlias type="com.dassa.vo.ShopPremiumItemVO" alias="shopPremiumItemVO"/>
		<typeAlias type="com.dassa.vo.ShopItemImgVO" alias="shopItemImgVO"/> <!-- 매물 이미지 -->
		<typeAlias type="com.dassa.vo.ShopReservationVO" alias="shopReservationVO"/>
		<typeAlias type="com.dassa.vo.ShopItemSearchVO" alias="shopItemSearchVO"/> 
		<typeAlias type="com.dassa.vo.NoticeVO" alias="noticeVO"/>			<!-- noticeVO -->
		<typeAlias type="com.dassa.vo.MoveApplyVO" alias="moveApplyVO"/>	 <!--이사신청 VO  -->
		<typeAlias type="com.dassa.vo.SaleInLotsVO" alias="saleInLotsVO"/>   <!--분양   VO -->
		<typeAlias type="com.dassa.vo.FaqVO" alias="faqVO"/>			<!-- faqVO -->
		<typeAlias type="com.dassa.vo.EmployeeVO" alias="employeeVO"/> <!-- 직원VO -->
		<typeAlias type="com.dassa.vo.QuestionVO" alias="questionVO"/> <!-- QuestionVO -->
	</typeAliases>
	
</configuration>
