<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
		"-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
<!--		<typeAlias type="kh.student.vo.StudentVO" alias="student"/>-->
		<typeAlias type="java.util.Map" alias="map"/>
		<typeAlias type="com.dassa.vo.UserVO" alias="userVO"/>
		<typeAlias type="com.dassa.vo.JusoCityVO" alias="jusoCityVO"/>
		<typeAlias type="com.dassa.vo.JusoGuVO" alias="jusoGuVO"/>
		<typeAlias type="com.dassa.vo.JusoDongVO" alias="jusoDongVO"/>
		<typeAlias type="com.dassa.vo.ShopItemVO" alias="shopItemVO"/>
		<typeAlias type="com.dassa.vo.ShopItemImgVO" alias="shopItemImgVO"/>
		<typeAlias type="com.dassa.vo.NoticeVO" alias="noticeVO"/>
		<typeAlias type="com.dassa.vo.MoveApplyVO" alias="moveApplyVO"/>	 <!--이사신청 VO  -->
		<typeAlias type="com.dassa.vo.SaleInLotsVO" alias="saleInLotsVO"/>   <!--분양   VO -->
		<typeAlias type="com.dassa.vo.UserOutVO" alias="userOutVO"/>   <!-- 탈퇴유저 -->
		<typeAlias type="com.dassa.vo.Page" alias="page"/>
	</typeAliases>

</configuration>
