*{
    box-sizing: border-box;
}

a{
    display:inline-block;
}
i ,
i img{
    vertical-align: middle;
}
textarea{
    width:100%;
}

.hide{
    display:none;
}

/*table.fixed{*/
    /*table-layout: fixed;*/
/*}*/

.role-holder{
    display:inline-block;
    vertical-align: middle;
}
.relative{
    position:relative;
}

.clearfix:after{
    clear:both;
    content:'';
    display:block;
}

table th,
table td{
    font-size: 12px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 18px;

}

/* table start */

.table_set{
    border: 1px solid #d9dee3;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.table_set th{
    background: #f6f6f7 ;
    color: #333;
    border-left: 1px solid #d9dee3;
    text-align: left;
    padding: 7px 20px;
    box-sizing: border-box;
    font-weight: 600;
    word-wrap: break-word;
    word-break: keep-all;
}
.table_set th,
.table_set td{
    padding: 7px 20px;

}
.table_set td{
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
}
.table_set tr{
    border-top: 1px solid #d9dee3;
}






.table_list th{
    text-align: center;
    background: #f6f6f7;
    padding: 10px 10px;
    line-height: 15px;
    border: 1px solid #d9dee3;
    font-weight: 600;
}

.table_list td{
    border: 1px solid #d9dee3;
    text-align: center;
    padding: 4px 10px;
    word-wrap: break-word;
    line-height: 15px;
}


.table_list td.text-left{
    text-align: left;
}



/* 박스 사이즈 조정 */
.box-5{
    width:20%;
}
.box-4{
    width:25%;
}
.box-3{
    width:33.33%;
}
.box-2{
    width:50%;
}

.box-2,
.box-3,
.box-4,
.box-5{
    float:left;
}

/* 마진 설정 */
.ml5{
    margin-left:5px;!important;
}
.ml10{
    margin-left: 10px !important;
}
.ml15{
     margin-left: 15px !important;
 }

.ml20{
    margin-left: 20px !important;
}

.mr5{
    margin-right:5px;!important;
}
.mr10{
    margin-right: 10px !important;
}
.mt5{
    margin-top:5px;
}
.mt10{
    margin-top:10px;
}
.mb5{
    margin-bottom:5px;
}
.mb10{
    margin-bottom:10px;
}

/* 패딩 설정 */

.pt5{
    padding-top:5px;!important;
}

.pt10{
    padding-top: 10px; !important;
}

.pl10{
    padding-left:10px;
}
.pl5{
    padding-left: 5px;
}
.pr10{
    padding-right: 10px;
}
.pr5{
    padding-right: 5px;
}


/* 플롯 설정 */
.f_l{
    float:left;
}
.f_r{
    float:right;
}


/* 폰트 설정 */

/* 컬러 */

.f_grey{
    color: #ccc;
}
.f_navy{
    color:#20425e;
}
.f_red{
    color: red;
}
.f_w{
    color: #fff;
}
.f_blue{
    color: #337ab7;
}

/* 굵기 */

.medium{
    font-weight: 500;
}
.bold{
    font-weight: 700;
}

/* 정렬 */
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}



/* 가로 퍼센트 */
.w_9p{
    width:90%;
}
.w_8p{
    width:80%;
}
.w_7p{
    width:70%;
}
.w_6p{
    width:60%;
}
.w_5p{
    width:50%;
}
.w_4p{
    width:40%;
}

.w_3p{
    width:30%;
}
.w_2p{
    width:20%;
}
.w_1p{
    width:10%;
}


/* 배경색 */

.col_main{
	background-color: #4683bd;
}

.col_grey{
    background-color: #efefef;
    border:1px solid #ccc;

}
.col_darkGrey{
    background-color: #979797;
}

.col_navy{
    background-color: #20425e;
}

.col_red{
    background-color: #d03838;
}

.col_blue{
    background-color: #337ab7;
}

.col_orange{
    background-color: #e5792e;
}

.col_green{
    background-color: #5cb85c;
}

.col_black{
    background-color: #222;
}

.col_purple{
    background-color: #ae5cb8;
}

.col_lightYellow{
    background-color: #ffedbf;
    border:1px solid #ccc;
    color: #333;
}





/* 버튼 */

button,
a{
    margin:0;
    border:none;
    outline: none;
    line-height: inherit;
    cursor: pointer;
    padding:0;
    font-size: 13px;
    white-space: nowrap;

}

.btn.line{
    padding:7px 11px;
    /*line-height: 33px;*/
}

.btn{
    padding:8px 12px;
    /*width:80px;*/
    /*height:25px;*/
    vertical-align: middle;
    line-height: 1;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
.btn.full{
    width:100%;
}

/* t_box 옆에 있을 경우 */
.btn.btn_t{
    /*line-height: 30px;*/
    /*height: 30px;*/
    /*padding:0 12px;*/
}



.btn.menu{
    padding:8px 12px 9px;
}

.btn.pop{
    width:90px;
    padding:8px 0;
    font-size: 12px;
}

.btn.set{
    line-height: 1;
}

.btn.big{
    width:100px;
    text-align: center;
    padding:10px 0;
    font-size: 14px;
}
.btn.bigger{
    width:150px;
    padding:15px;
    font-size: 16px;
}

.btn.normal{
    min-height:45px;
    line-height: 45px;
    width:60px;
    text-align: center;
    padding:0;
}

.btn.set{
    padding:16px 12px;
}










.btnDefault{
    padding:6px 12px;
    /*width:80px;*/
    /*height:25px;*/
    border-radius: 5px;
    background-color: #20425e;
    color: #fff;
}
.btnDefault.big{
    width:90px;
    text-align: center;
    padding:10px 30px;
    font-size: 18px;
}
.btnDefault.mini{
    width:60px;
    height:38px;
    text-align: center;
    padding:0;
    line-height: 38px;
}


.buttonGroup{
    /*text-align: right;*/
    padding-bottom:15px;
}
button.saveBtn{
    width:35px;
    height:35px;
    background-color: transparent;
}
button.saveBtn img{
    width:100%;
    height:100%;
}

.btnDefault.col_grey{
    background-color: #aaaaaa;

}
.btnDefault.col_grey:hover{
    background-color: #bababa;
}




/* 인풋박스 */

.tbox{
    padding:5px 10px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #d9dee3;
    transition: 0.2s;
    height: 28px;

}
.tbox:focus{
    outline: none;
    border: 1px solid #4683bd;
    transition: 0.2s;
}
.tbox:read-only:focus{
    outline: none;
    border: 1px solid #E8EBED;
}

.tbox.normal{
    width:350px;
}
.tbox.small{
    width:200px;
}

.tbox.smaller{
    width:150px;
}

.tbox.long{
    width:500px;
}
.tbox.longer {
    width: 700px;
}


.tbox.full{
    width:100%;
}

/* 체크/라디오 박스 */



label input[type=checkbox],
label input[type=radio]{
    display:inline-block;
    vertical-align: middle;
    margin:0;
}
label input[type=checkbox] ~ span,
label input[type=radio] ~ span{
    display:inline-block;
    vertical-align: middle;
    padding-left:5px;
    font-size: 12px;
    line-height: 17px;
    color: #999;
}

label input[type=checkbox]:checked ~ span,
label input[type=radio]:checked ~ span{
    color: #333;
}

:root select{
    font-size:12px;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

input[type=checkbox],
input[type=radio]{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    /*padding: 10px;*/
}




.sbox{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 28px;
    vertical-align: middle;
    padding:3px;
    background-color: #fff;
    border:1px solid #d9dee3;
}

.sbox.normal{
    width:220px;
}
.sbox.little{
    width:500px;
}
.sbox.small{
    width:110px;
}

.sbox.full{
    width:100%;
}
.sbox select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 none;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 7px;
    cursor: pointer;
    vertical-align: top;

}



.sbox:after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    pointer-events: none;
    font-size:14px;
    line-height: 25px;
    color: #aaaaaa;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: transparent;
}

/* Transition */
.sbox:hover{
    /*background-color: #d03838;*/
    border:1px solid #d03838;
}

.sbox:hover::after {
    color: #d03838;
    background-color: transparent;
    border:none;
    
}
.sbox:after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.radioToggle {
    background-color: #20425e;
    border: 4px solid #20425e;
    border-radius: 44px;
    display: inline-flex;
    overflow: hidden;
    position: relative;
}
.radioToggle input {
    display: none;
}
.radioToggle > span{
    display:inherit;
}
.radioToggle label {
    color: #bbb;
    padding: 0.4em 0.8em;
    position: relative;
    z-index: 0;
    transition: color 0.4s ease-out;
    font-weight: 400;
    cursor: pointer;
}

.radioToggle input:checked + label.active {
    color: #20425e;
    font-weight: 700;
    background-color: #fff;
    border-radius: 44px;
    display: inline-block;
    padding: 0.4em 0.8em;
    top: 0;
    left: 0;
    transition: left 0.4s ease-out;
}

.page_wrap{
    text-align: center;
    margin-top:50px;
    font-size: 0;
}

.page_wrap:after{
    clear:both;
    content:'';
    display:block;
}
.page_wrap li{
    display:inline-block;

}
.page_wrap li a{
    border:1px solid #e1e1e1;
    padding:10px 15px;
    color: #666;
    display:inline-block;
    box-sizing: border-box;
    margin-left:-1px;
}

.page_wrap li a:hover{
    background-color: rgba(70,131,189,0.7);
    color: #fff;
}
.page_wrap li a.active{
    background-color: #4683bd;
    color: #fff;
}


/* toggle */
.toggle_box{
    position:relative;
    font-size: 0;
    display:inline-block;
    vertical-align: middle;
}
.toggle_box input[type="checkbox"]{
    display:none;
}
.toggle_box .set_bg{
    position:relative;
    display:inline-block;
    border-radius:17px;
    background-color: #fafafa;
    border:1px solid #cdcccc;
    width:60px;
    height: 35px;
    cursor: pointer;

}
.toggle_box input:checked ~ .set_bg{
    background-color: #ce2027;
}
.toggle_box input ~ .set_handle{
    /*transition: 0.3s ease-in;*/
    position:absolute;
    display:inline-block;
    width:35px;
    height:35px;
    background-color: #fff;
    border:1px solid #cdcccc;
    border-radius: 50%;
    transition: left 0.3s ease-out;
    padding:0;
    top:50%;
    left:-5px;
    transform: translateY(-50%);
    cursor: pointer;

}
.toggle_box input:checked ~ .set_handle{
    left:25px;
    border-color:#ce2027;
    transition: left 0.3s ease-out;

}
